<section class="warranty-type">
	<div class="row">
		<div class="col-lg-12">
			<form name="companyForm" autocomplete="off" novalidate ng-submit="self.submit(self.company,companyForm)"
				  promise-btn>
				<div class="row" cg-busy="self.promiseLoading">

					<div class="col-lg-12">
						<div class="so-title">اسناد مورد نیاز</div>
					</div>
					<div class="col-lg-12">
						<div class="d-flex flex-wrap">

							<div class="upload-document" ng-repeat="document in self.company">
								<div class="before-upload" ng-model="document.attachment"
									 ngf-model-options="{updateOn: 'change'}" ng-if="document.attachment==null">
									<div ngf-select="self.uploadLogo($files,document.typeId,$index)"
										 class="image-container pointer" ng-if="document.attachment==null">
										<img src="../../../../images/uplaodIcon.svg" alt="" srcset="">
									</div>
									<div class="image-container" ng-if="document.attachment!=null">
										<img src="../../../../images/reload.svg" alt="" srcset="">
									</div>
									<div class="so-h6 mt-2" ng-if="document.attachment!=null">
										بارگزاری مجدد
									</div>
									<div class="title-download so-body-1 font-weight-bold text-n-gray"
										 ng-bind="document.typeTitle"></div>
									<div class="download-file">
										<div class="so-h5 text-blue mb-1" ng-if="document.typeSampleFile!=null">
											<i class="fas s-download ml-1"></i>
											<a class="text-blue" target="_blank"
											   ng-href={{$root.download+document.typeSampleFile}}>دریافت فایل نمونه</a>
										</div>
										<div class="so-h5 text-green pointer" data-toggle="modal" ng-if="document.typeHint!=null"
											 data-target=".bd-example-modal-sm1"
											 ng-click='self.text = document.typeHint'>
											راهنمای تکمیل اطلاعات
										</div>
									</div>
								</div>

								<div class="before-upload" ng-model="document.attachment"
									 ngf-model-options="{updateOn: 'change'}" ng-if="document.isExpired">
									<div ngf-select="self.uploadLogo($files,document.typeId,$index)"
										 class="image-container pointer" ng-if="document.attachment==null">
										<img src="../../../../images/uplaodIcon.svg" alt="" srcset="">
									</div>
									<div class="image-container" ng-if="document.attachment!=null" ngf-select="self.uploadLogo($files,document.typeId,$index)">
										<img src="../../../../images/reload.svg" alt="" srcset="">
									</div>
									<div class="so-h6 mt-2" ng-if="document.attachment!=null" ngf-select="self.uploadLogo($files,document.typeId,$index)">
										بارگزاری مجدد
									</div>
									<div class="title-download so-body-1 font-weight-bold text-n-gray"
										 ng-bind="document.typeTitle"></div>
									<div class="download-file">
										<div class="so-h5 text-blue mb-1" ng-if="document.typeSampleFile!=null">
											<i class="fas s-download ml-1"></i>
											<a class="text-blue" target="_blank"
											   ng-href={{$root.download+document.typeSampleFile}}>دریافت فایل نمونه</a>
										</div>
										<div class="so-h5 text-green pointer" data-toggle="modal" ng-if="document.typeHint!=null"
											 data-target=".bd-example-modal-sm1"
											 ng-click='self.text = document.typeHint'>
											راهنمای تکمیل اطلاعات
										</div>
									</div>

								</div>
								<div ng-if="document.isExpired" class="bg-red px-3 py-1 text-white d-flex justify-content-center align-items-baseline">
									<div class="so-h6 mb-0">فایل منقضی شده است</div>
								</div>

								<div class="after-upload" id="myList" ng-if="!document.isExpired && document.attachment!=null">
									<div class="loading-container" ng-if="document.loadingShow">
										<div class="loader"></div>
										<div class="loading-text so-h6">منتظر بمانید...</div>
									</div>
									<div class="image-container">
										<img src="../../../../images/tick.svg" alt="" srcset="">
									</div>
									<div class="title-download so-body-1 text-white font-weight-bold text-n-gray"
										 ng-bind="document.typeTitle">
									</div>
									<div class="so-h5 text-white mb-1" ng-if="document.typeSampleFile!=null">
										<i class="fas s-download ml-1"></i>
										<a class="text-white" target="_blank"
										   ng-href={{$root.download+document.typeSampleFile}}>دریافت فایل نمونه</a>
									</div>
									<div class="so-h5 text-orange pointer mb-3 so-body-1 font-weight-bold " data-toggle="modal" ng-if="document.typeHint!=null"
									data-target=".bd-example-modal-sm1"
									ng-click='self.text = document.typeHint'>
								   راهنمای تکمیل اطلاعات
							   </div>
									<div class="edit-box text-white">
										<div class="d-flex flex-column align-items-start">
											<span class="so-h6 mb-0">تاریخ انقضا</span>
											<span class="so-h5"
												  ng-bind="(document.expirationDate!=null ? (document.expirationDate | jalaliDateFilter : 'jYYYY/jM/jD') : '---' )"></span>
										</div>
										<a ng-href="{{download + document.attachment}}" class="text-white align-self-end" target="_blank">
											<i class="fas s-download s-sm pointer"></i>
										</a>

										<div class="align-self-end"
											 ngf-select="self.uploadLogo($files,document.typeId,$index)">
											<i class="far s-edit s-sm pointer"></i>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span class="text-red">*</span>
						<h5 class="font-weight-bold d-inline-block">
							در صورت عدم وجود مدارک مورد نظر،
							توضیحات خود را در قالب یک فایل ورد بارگذاری نمایید
						</h5>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-lg-12">
						<button class="btn btn-green so-btn-md ml-3" ng-click="self.submit(self.company)">
							مرحله بعد
						</button>
						<button class="btn btn-orange so-btn-md text-white" type="button"
								ui-sref="panel.warranty.request.KnowledgeInformation">
							بازگشت
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<div class="modal fade bd-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-sm bg-image-modal">
		<div class="modal-content bg-gray py-4 align-items-center bg-image-modal rounded-0">
			<h3 class="mb-0">متن راهنمای تکمیل اطلاعات</h3>
			<div ng-bind="self.text">

			</div>
		</div>
	</div>
</div>