<section class="warranty-type">
    <div class="row">
        <div class="col-lg-12">
            <form name="companyForm" autocomplete="off" novalidate>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="so-title">اطلاعات ثبتی</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">شماره ثبت</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-clipboard-list"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-number="uint" ng-model="self.company.registerNumber"
                                            name="registerNumber" required />

                                        <div ng-messages="companyForm.registerNumber.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">شماره ثبت نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">شماره ثبت نباید بیش از چهل کاراکتر باشد</div>
                                        </div>
                                    </div>

                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">تاریخ ثبت</label>

                                    <adm-dtp class="w-100" ng-model='self.company.registerDate'
                                        maxdate="'{{self.dateLimit}}'">
                                        <sd-icon>
                                            <i class="fas s-calendar"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type='text' name="RegisterDate"
                                            ng-model="self.company.registerDate" dtp-input required />
                                        <span dtp-destroy>
                                            <svg class="removeIcon" viewBox="0 0 24 24" dtp-destroy
                                                ng-if="self.company.registerDate">
                                                <use xlink:href="#dtp-i-close"></use>
                                            </svg>
                                        </span>
                                        <div ng-messages="companyForm.RegisterDate.$error"
                                            ng-show="companyForm.RegisterDate.$touched">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                        </div>
                                    </adm-dtp>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">سرمایه ثبتی</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-bitcoin"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" currency-input type="text" ng-minlength="4"
                                            ng-maxlength="15" ng-model="self.company.fund" name="Fund" required />
                                        <div ng-messages="companyForm.Fund.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">سرمایه ثبتی نباید کمتر از چهار رقم باشد</div>
                                            <div ng-message="maxlength">سرمایه ثبتی نباید بیش از پانزده رقم باشد</div>
                                        </div>
                                    </div>

                                </sd-input-container>
                            </div>
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-apartment"></i>
                                    </sd-icon>
                                    <label for="">استان</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.province" name="Province"
                                        ng-change="self.CityGet(self.company.province)">
                                        <option ng-repeat="prov in self.Province" ng-value="prov.name">{{prov.name}}
                                        </option>
                                    </select>
                                    <div ng-messages="companyForm.Province.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                    <label for="">استان</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-apartment"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-alphabet="persianAlphabet" ng-model="self.company.province"
                                            name="Province" />

                                        <div ng-messages="companyForm.Province.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">استان نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">استان نباید بیش از چهل کاراکتر باشد</div>
                                            <div ng-message="inputFilterAlphabet">
                                                استان باید فارسی باشد
                                            </div>
                                        </div>
                                    </div>

                                </sd-input-container> -->
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-apartment"></i>
                                    </sd-icon>
                                    <label for="">شهر</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.city" name="city">
                                        <option ng-repeat="city in self.city" ng-value="city.name">{{city.name}}
                                        </option>
                                    </select>
                                    <div ng-messages="companyForm.City.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                    <label for="">شهر</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-apartment"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-alphabet="persianAlphabet" ng-model="self.company.city"
                                            name="City" />

                                        <div ng-messages="companyForm.City.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">شهر نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">شهر نباید بیش از چهل کاراکتر باشد</div>
                                            <div ng-message="inputFilterAlphabet">
                                                شهر باید فارسی باشد
                                            </div>
                                        </div>
                                    </div>

                                </sd-input-container> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" cg-busy="self.promiseLoading">
                    <div class="col-lg-12">
                        <div class="so-title">اعضای هیئت مدیره</div>
                    </div>
                    <div class="col-lg-12" ng-show="self.tableParams.data.length !=0">
                        <table ng-table="self.tableParams" class="table spacing-table csm-table" show-filter="false">
                            <tr ng-repeat="row in $data" class="bg-matte-gray">
                                <td>
                                    <div class="pointer" ng-click="self.deleteItem(row)">
                                        <i class="fas s-times s-2x"></i>
                                    </div>
                                </td>
                                <td class="" data-title="'نام'" filter="false">
                                    <span>{{row.firstName}}</span>
                                </td>
                                <td class="" data-title="'نام خانوادگی'" filter="false">
                                    <span>{{row.lastName}}</span>
                                </td>
                                <td data-title="'نام پدر'" filter="false">
                                    {{row.fatherName}}
                                </td>
                                <td data-title="'کد ملی'" filter="false">
                                    {{row.nationalCode}}
                                </td>
                                <td data-title="'صادره از'" filter="false">
                                    {{row.issued}}
                                </td>
                                <td data-title="'سمت'" filter="false">
                                    {{row.position}}
                                </td>
                                <td data-title="'دارای حق امضا'" filter="false">
                                    <div class="position" ng-if="row.hasSignRight">
                                        <i class="fas s-check-circle s-2x text-green-jade"></i>
                                    </div>
                                    <div class="position" ng-if="!row.hasSignRight">
                                        <i class="fas s-times-circle s-2x text-green-jade"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <ng-form name="directorForm" noValidate>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="member-box">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">نام</label>

                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                    ng-model="self.member.firstName" name="FirstName" required />

                                                <div ng-messages="directorForm.FirstName.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">نام نباید کمتر از دو کاراکتر باشد</div>
                                                    <div ng-message="maxlength">نام نباید بیش از چهل کاراکتر باشد</div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        نام باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">نام خانوادگی</label>

                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                    ng-model="self.member.lastName" name="LastName" required />

                                                <div ng-messages="directorForm.LastName.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">نام خانوادگی نباید کمتر از دو کاراکتر
                                                        باشد
                                                    </div>
                                                    <div ng-message="maxlength">نام خانوادگی نباید بیش از چهل کاراکتر
                                                        باشد
                                                    </div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        نام خانوادگی باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">نام پدر</label>

                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                    ng-model="self.member.fatherName" name="FatherName" required />

                                                <div ng-messages="directorForm.FatherName.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">نام پدر نباید کمتر از دو کاراکتر باشد
                                                    </div>
                                                    <div ng-message="maxlength">نام پدر نباید بیش از چهل کاراکتر باشد
                                                    </div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        نام پدر باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">تاریخ تولد</label>

                                            <adm-dtp class="w-100" ng-model='self.member.birthDate'>
                                                <sd-icon>
                                                    <i class="fas s-calendar"></i>
                                                </sd-icon>
                                                <input class="so-input-xl" required type='text' name="BirthDate"
                                                    ng-model="self.member.birthDate" dtp-input />
                                                <span dtp-destroy>
                                                    <svg class="removeIcon ng-scope" viewBox="0 0 24 24" dtp-destroy
                                                        ng-if="self.member.birthDate">
                                                        <use xlink:href="#dtp-i-close"></use>
                                                    </svg>
                                                </span>
                                                <div ng-messages="directorForm.BirthDate.$error"
                                                    ng-show="directorForm.BirthDate.$touched">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                </div>
                                            </adm-dtp>
                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">کدملی</label>

                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="10"
                                                    ng-maxlength="10" ng-input-filter-number="uint"
                                                    ng-model="self.member.nationalCode" name="nationalCode" required />

                                                <div ng-messages="directorForm.nationalCode.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">کد ملی نباید کمتر از ده کاراکتر باشد
                                                    </div>
                                                    <div ng-message="maxlength">کد ملی نباید بیش از ده کاراکتر باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">ش.شناسنامه</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="1"
                                                    ng-maxlength="10" ng-input-filter-number="uint"
                                                    ng-model="self.member.birthCertificateNumber"
                                                    name="birthCertificateNumber" required />

                                                <div ng-messages="directorForm.birthCertificateNumber.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">شماره شناسنامه نباید کمتر از یک کاراکتر
                                                        باشد
                                                    </div>
                                                    <div ng-message="maxlength">شماره شناسنامه نباید بیش از ده کاراکتر
                                                        باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">صادره</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                    ng-model="self.member.issued" name="issued" required />

                                                <div ng-messages="directorForm.issued.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">صادره نباید کمتر از دو کاراکتر باشد
                                                    </div>
                                                    <div ng-message="maxlength">صادره نباید بیش از چهل کاراکتر باشد
                                                    </div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        صادره باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-3">
                                        <sd-input-container class="material text-right">
                                            <label for="">سمت</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <!-- <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                    ng-model="self.member.position" name="Position" required /> -->
                                                <select class="so-input-xl w-100" ng-model="self.member.position"
                                                    name="Position" required>
                                                    <option ng-repeat="item in self.positionEnum" value="{{item.value}}"
                                                        ng-bind="item.key">
                                                    </option>
                                                </select>
                                                <div ng-messages="directorForm.Position.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">سمت نباید کمتر از دو کاراکتر باشد</div>
                                                    <div ng-message="maxlength">سمت نباید بیش از چهل کاراکتر باشد</div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        سمت باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-12">
                                        <sd-input-container
                                            class="row d-flex input-container custom-control custom-control-orange custom-checkbox p-0 justify-content-center">
                                            <div class="col-lg-11 d-flex">
                                                <input type="checkbox" ng-model="self.member.hasSignRight"
                                                    class="custom-control-input" name="hasSignRight"
                                                    id="hasSignRight" />
                                                <label class="custom-control-label so-input-xl so-body-1 text-right"
                                                    for="hasSignRight">حق امضاء</label>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-12 d-flex justify-content-center">
                                        <div class="button-add-member">
                                            <button type="button" class="btn btn-l-purple so-btn-md"
                                                ng-click="self.pushToList(self.member,directorForm)">
                                                <span>
                                                    <i class="fas s-plus text-white"></i>
                                                </span>
                                                <span class="text-white">
                                                    اضافه نمودن
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <button class="btn btn-green so-btn-md ml-3" type="button" promise-btn
                            ng-click="self.submit(self.company,companyForm, directorForm)">
                            ثبت
                        </button>
                        <button class="btn btn-orange so-btn-md text-white" type="button"
                            ui-sref="panel.warranty.request.companyInformation">
                            بازگشت
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>