<main class="mt-4  container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="d-flex justify-content-between mb-1">
						<div>
							<span class="so-title" ng-if="self.requestType!= 4">پرونده درخواست تسهیلات</span>
							<span class="so-title" ng-if="self.requestType== 4">پرونده درخواست لیزینگ</span>
						</div>
						<div class="so-body-1 text-n-gray">
							<span>
								شماره پرونده:
							</span>
							<span ng-bind="self.details.requestNumber" ng-if="self.requestType!= 4"></span>
							<span ng-bind="self.leasingDetails.folderNumber" ng-if="self.requestType== 4"></span>
						</div>
					</div>
					<div class="d-flex justify-content-between mb-5">
						<div class="so-body-1">
							<span class="text-black">
								وضعیت پرونده:
							</span>
							<span class="text-green" ng-if="self.requestType!= 4"
								ng-bind="self.details.currentState.statusTitle"></span>
							<!-- && self.leasingDetails.currentState=='PendingForEditSellerInfoBySeller' -->
							<span class="text-green" ng-repeat="x in self.states"
								ng-if="self.requestType== 4 && x.name==self.leasingDetails.currentState">
								{{x.description}}
							</span>
						</div>
						<div class="so-body-1">
							<span class="text-black">
								تاریخ درخواست:
							</span>
							<span class="text-blue" ng-if="self.requestType!= 4"
								ng-bind="self.details.requestDate | jalaliDateFilter : 'jYYYY/jMM/jDD'">
							</span>
							<span class="text-blue" ng-if="self.requestType== 4"
								ng-bind="self.leasingDetails.requestDate | jalaliDateFilter : 'jYYYY/jMM/jDD'">
							</span>
						</div>
					</div>
				</div>
			</div>
			<!--شروع کاربرگ-->
			<loan-worksheet-component loan-id="self.requestId" ng-if="self.details.currentState.status == 22">
			</loan-worksheet-component>
			<!--پایان کاربرگ-->

			<!-- <div class="row" ng-if="self.details.currentState.status == 40 || self.details.currentState.status == 50">
				<div class="col-lg-12">
					<div class="bg-l-silver p-4 mb-4">
						<div class="d-flex mb-1">
							<div class="so-title">
								<span class="text-black">
									مصوبه کمیته
								</span>
							</div>
						</div>
						<div class="row mb-1">
							<div class="col-md-2">
								<div class="so-body-1 font-weight-bold">
									<span class="text-black">
										نوع قرارداد:
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<span class="text-black"
									ng-bind="(self.committeeApproval.contractType | contractTypeFilter)"></span>
							</div>
							<div class="col-md-2">
								<div class="so-body-1 font-weight-bold">
									<span class="text-black">
										نتیجه نهایی مصوبه:
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<span class="text-black" ng-bind="self.committeeApproval.finalResult"></span>
							</div>
						</div>
						<div class="row mb-1">
							<div class="col-md-2">
								<div class="so-body-1 font-weight-bold">
									<span class="text-black">
										مبلغ تسهیلات درخواستی:
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<span class="text-black" ng-bind="self.details.amount | number"></span>
								<small>ریال</small>
							</div>
						</div>

						<div class="row"
							ng-if="self.details.currentState.status == '40' || self.details.currentState.status == '50'">
							<div class="col-md-6">
								<div class="so-title">شرایط پرداخت</div>
								<div class="row">

									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">درصد اولیه پرداخت:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.paymentMethod.initialPaymentPercent + ' درصد')"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">طول مدت پرداخت:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.paymentMethod.paymentPeriod + ' ماه')"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">تعداد مراحل پرداخت:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.paymentMethod.paymentStepsCount) + ' مرحله'"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="so-title">شرایط بازپرداخت</div>
								<div class="row">
									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">تعداد اقساط:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.refundMethod.installmentsCount) +' قسط'"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">دوره بازپرداخت:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.refundMethod.refundPeriod + ' ماه')"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">بازه بین هر اقساط:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.refundMethod.periodBetweenEachInstallment + ' ماه')"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="row mb-3">
											<span class="col-4 so-body-2">مدت زمان تنفس:</span>
											<span class="col-8 so-body-1 text-d-silver"
												ng-bind="(self.committeeApproval.refundMethod.refundGap + ' ماه')"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!--شروع تضامین پیشنهادی و شرایط-->
			<loan-suggested-bail-component loan-id="self.requestId"
				ng-if="self.details.currentState.status == 40 || self.details.currentState.status == 50">
			</loan-suggested-bail-component>
			<!--پایان تضامین پیشنهادی و شرایط-->
		</div>
	</div>

	<div class="row mt-5" ng-if="self.details.isRejected || self.requestType==4">
		<div class="col-lg-12">
			<div class="so-body-1 font-weight-bold" ng-if="self.details.currentState.description">
				<div class="text-orange">
					<i class="fas s-info-circle"></i>
					<span>دلیل رد درخواست:</span>
				</div>
				<div class="text-silver">
					<span ng-bind="self.details.currentState.description"></span>
				</div>
			</div>
			<div class="mt-2" ng-if="self.details.currentState.status == 15">
				<button class="btn btn-orange text-white"
					ng-click="self.editInformation(self.details.type,self.details.id)">
					اصلاح اطلاعات
				</button>
			</div>
			<div class="mt-2" ng-if="self.leasingDetails.currentState == 'PendingForEditSellerInfoBySeller'">
				<div class="so-subheading-1 font-weight-bold text-orange mb-4" ng-if="self.leasingDetails.description">
					<i class="fas s-info-circle"></i>
					<span>دلیل رد درخواست لیزینگ:</span>
					<div class="so-subheading-1 text-silver">
						<span ng-bind="self.leasingDetails.description"></span>
					</div>
				</div>
				<button class="btn so-btn-md btn-orange text-white"
					ng-click="self.editLeasing(self.details.type,self.details.id)">
					اصلاح اطلاعات
				</button>
			</div>
			<div class="mt-2" ng-if="self.leasingDetails.currentState == 'PendingForConfirmBuyerInfoByBuyer'">
				<div class="so-subheading-1 font-weight-bold text-orange mb-4" ng-if="self.leasingDetails.description">
					<i class="fas s-info-circle"></i>
					<span>نظر ثبت شده توسط کارشناس:</span>
					<div class="so-subheading-1 text-silver">
						<span ng-bind="self.leasingDetails.description"></span>
					</div>
				</div>
				<button class="btn so-btn-md btn-orange text-white"
					ng-click="self.buyerApproval(self.details.type,self.details.id)">
					اصلاح اطلاعات
				</button>
			</div>
		</div>
	</div>

	<!-- بررسی سناریوهای مصوبه کمیته و اعتراض مشتری -->

	<div class="row mt-5" ng-if="self.requestType==4 && self.leasingDetails.currentState == 'PendingForSuggestBail'">
		<div class="col-lg-12">
			<div class="so-body-1 font-weight-bold" ng-if="self.details.currentState.description">
				<div class="text-orange">
					<i class="fas s-info-circle"></i>
					<span>نظر کمیته:</span>
				</div>
				<div class="text-silver">
					<span ng-bind="self.details.currentState.description"></span>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row mt-5" ng-if="self.requestType==4">
		<div class="col-lg-12">
			<div class="so-body-1 font-weight-bold" ng-if="self.details.currentState.description">
				<div class="text-orange">
					<i class="fas s-info-circle"></i>
					<span>دلیل رد درخواست:</span>
				</div>
				<div class="text-silver">
					<span ng-bind="self.details.currentState.description"></span>
				</div>
			</div>
			<div class="mt-2" ng-if="self.leasingDetails.currentState == 'PendingForEditSellerInfoBySeller'">
				<button class="btn btn-silver text-white"
				ng-click="self.editInformation(self.details.type,self.details.id)">
					اصلاح اطلاعات
				</button>
			</div>
		</div>
	</div> -->

	<!--شروع بارگذاری مدارک وثایق و تضامین-->
	<loan-upload-collateral-component ng-if="self.details.currentState.status == 41" loan-id="self.requestId"
		selected-bail="self.selectedBail">
	</loan-upload-collateral-component>
	<!--پایان بارگذاری مدارک وثایق و تضامین-->

	<!--شروع قرارداد تسهیلات فی ما بین-->
	<loan-facility-contract-component
		ng-if="self.details.currentState.status == 60 || self.details.currentState.status == 70"
		loan-id="self.requestId" attachment="self.details.contractAttachment">
	</loan-facility-contract-component>
	<!--پایان قرارداد تسهیلات فی ما بین-->



	<div class="row mt-5" ng-if="self.details.hasAction==false">
		<div class="col-lg-12">
			<div class="so-body-1 font-weight-bold text-silver">
				<i class="fas s-info-circle"></i>
				<span>اقدامی در دست انجام ندارید</span>
			</div>
		</div>
	</div>
	<feedback-component request-id="self.requestId"
		ng-if="self.details.currentState == 85 && self.details.hasFeedback == false">
	</feedback-component>
</main>

<div class="modal fade" id="committeeModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-0">
			<!--<div class="modal-header">
				<h3 class="modal-title mb-0">تشکیل کمیته</h3>
			</div>-->
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form name="committeeForm" novalidate autocomplete="off"
							ng-submit="self.submitCommittee(committeeForm)">
							<small>
								توضیحات اعتراض به نتیجه مصوبه:
							</small>
							<sd-input-container class="material text-right mt-2">
								<textarea class="textarea-custom w-100 h-100 pt-2" ng-model="self.committee.description"
									ng-minlength="2" ng-maxlength="500" name="description" cols="130" rows="5"
									required></textarea>
								<div ng-messages="committeeForm.description.$error">
									<div ng-message="required">
										پر کردن فیلد الزامی می‌باشد
									</div>
									<div ng-message="minlength">
										توضیحات نمیتواند کمتر از دو
										کاراکتر باشد
									</div>
									<div ng-message="maxlength">
										توضیحات نمیتواند بیشتر از پانصد
										کاراکتر باشد
									</div>

								</div>
							</sd-input-container>

							<div class="mt-2">
								<button type="submit" class="btn so-btn-md btn-green">ثبت</button>
								<button type="button" class="btn so-btn-md btn-orange text-white"
									data-dismiss="modal">بازگشت</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- کامپوننتهای لیزینگ -->

<div ng-if="self.requestType==4">

	<!--انتخاب سناریوها و اعتراض-->
	<leasing-suggested-bail-component
		ng-if="self.leasingDetails.currentState == 'PendingForSuggestBail' || self.leasingDetails.currentState == 'PendingForReviewSuggestedBail'"
		leasing-id="self.requestId">
	</leasing-suggested-bail-component>
	<!--انتخاب سناریوها و اعتراض-->

	<!--بارگذاری مدارک وثایق و تضامین-->
	<leasing-upload-collateral-component ng-if="self.leasingDetails.currentState == 42" leasing-id="self.requestId"
		selected-bail="self.selectedBail">
	</leasing-upload-collateral-component>
	<!--بارگذاری مدارک وثایق و تضامین-->

	<!--شروع قرارداد تسهیلات فی ما بین-->
	<leasing-signing-contract-component
		ng-if="self.leasingDetails.currentState == 'PendingForSubmitSignedContractByBuyer'"
		leasing-id="self.requestId" attachment="self.leasingDetails.contractAttachment">
	</leasing-signing-contract-component>
	<!--پایان قرارداد تسهیلات فی ما بین-->

</div>