<main class="warranty-type">
    <div class="row">
        <div class="col-lg-12">
            <form name="loanForm" autocomplete="off" novalidate ng-submit="self.submit(self.loan,loanForm)" promise-btn>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="so-title font-weight-bold">اطلاعات درخواست</div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <sd-input-container class="material text-right">
                                            <label for="">مبلغ تسهیلات</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-calendar"></i>
                                                </sd-icon>
                                                <input currency-input class="so-input-xl w-100"
                                                    ng-model="self.loan.amount" name="amount" required />
                                                <div ng-messages="loanForm.amount.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-6"></div>
                                    <div class="col-lg-12">
                                        <sd-input-container class="material text-right mt-2">
                                            <div class="input-group">
                                                <textarea class="textarea-custom h-100 pt-2"
                                                    ng-model="self.loan.requestReason"
                                                    placeholder="علت درخواست (حداکثر 500 کارکتر)" ng-minlength="2"
                                                    ng-maxlength="500" name="requestReason" cols="130" rows="8"
                                                    required></textarea>
                                                <div ng-messages="loanForm.requestReason.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">توضیحات نمیتواند کمتر از دو
                                                        کاراکتر باشد
                                                    </div>
                                                    <div ng-message="maxlength">توضیحات نمیتواند بیشتر از پانصد
                                                        کاراکتر باشد
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                    <div class="w-100 d-flex flex-wrap">
                                        <div class="col-lg-6">
                                            <sd-input-container class="material text-right">
                                                <sd-icon>
                                                    <i class="fas s-shield-check"></i>
                                                </sd-icon>
                                                <label for="">مرجع معرفی کننده</label>
                                                <select class="custom-select so-input-xl w-100" required
                                                    ng-model="self.loan.introducer" name="introducer">
                                                    <!-- <option value="">نوع شرکت</option> -->
                                                    <option ng-value="1">معاونت علمی و فناوری ریاست جمهوری</option>
                                                    <option ng-value="2">صندوق نوآوری و شکوفایی</option>
                                                    <option ng-value="3">پارک فناوری پردیس</option>
                                                    <option ng-value="4">صندوق توسعه فناوری های نوین</option>
                                                    <option ng-value="0">سایر</option>
                                                </select>
                                                <div ng-messages="loanForm.introducer.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                </div>
                                            </sd-input-container>
                                        </div>
                                        <div class="col-lg-6" ng-if="self.loan.introducer == 0">
                                            <sd-input-container class="material text-right">
                                                <label for="">نام مرجع معرفی کننده</label>

                                                <div class="input-group">
                                                    <sd-icon>
                                                        <i class="fas s-apartment"></i>
                                                    </sd-icon>
                                                    <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                        ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                        required ng-model="self.loan.introducerName"
                                                        name="introducerName" />

                                                    <div ng-messages="loanForm.introducerName.$error">
                                                        <div ng-message="required">
                                                            پر کردن فیلد الزامی می‌باشد
                                                        </div>
                                                        <div ng-message="minlength">نام پارک نباید کمتر از دو کاراکتر
                                                            باشد
                                                        </div>
                                                        <div ng-message="maxlength">نام پارک نباید بیش از چهل کاراکتر
                                                            باشد
                                                        </div>
                                                        <div ng-message="inputFilterAlphabet">
                                                            نام پارک باید فارسی باشد
                                                        </div>
                                                    </div>
                                                </div>

                                            </sd-input-container>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <sd-input-container class="material text-right">
                                            <label for="">شماره نامه معرفی کننده</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-clipboard-list"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="70" ng-input-filter-number="uint"
                                                    ng-model="self.loan.introducerLetterNumber"
                                                    name="introducerLetterNumber" />
                                                <div ng-messages="loanForm.introducerLetterNumber.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">شماره نامه معرفی کننده نباید کمتر از دو
                                                        کاراکتر
                                                        باشد
                                                    </div>
                                                    <div ng-message="maxlength">شماره نامه معرفی کننده نباید بیش از
                                                        هفتاد کاراکتر
                                                        باشد
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-green so-btn-md ml-2" type="submit">
                            ثبت
                        </button>
                        <button class="btn btn-orange so-btn-md text-white" type="button"
                            ui-sref="panel.loan.request.directorsInformation">
                            بازگشت
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>