<div class="row mt-5 warranty-extended">
    <div class="so-title">تمدید ضمانت نامه</div>
    <div class="w-100"></div>
    <div class="col-lg-6">
        <div class="row bg-l-silver p-4">
            <div class="col-md-12">
                <!--<div class="so-body-1 font-weight-bold">
                    دریافت پیش نویس کاربرگ ارزیابی
                </div>-->
                <p>
                    ضمانت نامه فوق به شماره <span class="text-green">1546297</span> به در خواست کارفرمای شما <br /> به مدت <span class="text-green">180 روز</span> تمدید شود.
                </p>
                <div>مدت تمدید: <span class="so-body-1 font-weight-bold">180 روز</span></div>
                <div>تاریخ انقضاء جدید: <span class="so-body-1 font-weight-bold">1398/12/15</span></div>
                <div>مبلغ کارمزد جدید: <span class="so-body-1 font-weight-bold">150,000 ریال</span></div>
            </div>            
        </div>
        
        <div class="mt-5">
            <button type="submit" class="btn so-btn-md btn-green" ng-click="self.submitWorksheet()">ثبت</button>
            <button type="button" class="btn so-btn-md btn-orange text-white" ui-sref="panel.dashboard">بازگشت</button>
        </div>
    </div>
</div>