<section class="carousel-file bg-ocean-blue align-items-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="carousel-title bg-ocean-blue d-flex align-items-center text-white">
            <div class="col-lg-2">
                <i class="fas s-user-plus ml-1"></i>
            </div>
            <div class="col-lg-10">
                تمام گروه‌های جهادی
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="bg-ocean-blue d-flex align-items-center text-white">
            <div class="col-lg-2">
                <i class="fas s-user-plus ml-1"></i>
            </div>
            <div class="col-lg-10">
                تمام گروه‌های جهادی
            </div>
        </div>
    </div>
</section>