<section id="request" class="container-fluid my-5">
    <h1 class="so-title d-flex">
        <i class="fas s-plus s-2x text-blue"></i>
        <span class="pr-3" ng-if="self.type!='Leasing'">
            ثبت درخواست تسهیلات
        </span>
        <span class="pr-3" ng-if="self.type=='Leasing'">
            ثبت درخواست لیزینگ
        </span>
    </h1>
    <div class="row">
        <div class="col-3">
            <ul id="progress">
                <li class="item" ng-repeat="item in self.progressItem"
                    ng-class="{active: self.state.includes('{{item.stateName}}') && $even}">
                    <div ng-if="$even" class="d-flex">
                        <div class="node"></div>
                        <h2 class="so-title" ng-bind="item.title"></h2>
                    </div>
                    <div ng-if="$odd" class="divider"></div>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <ui-view></ui-view>
        </div>
    </div>
</section>