ol.collection {
  margin: 0px;
  padding: 0px;
  @extend .so-body-1;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.item-container-body {
  margin-top: 1rem;
  color: get-color("blue");
  cursor: pointer;

  &.open {
    background: get-color("sky");
  }

  &.closed {
    background: get-color("l-stone");
  }

  .attribute {
    padding: 15px 0;
  }

  .priority-badge {
    @extend .so-h6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.item-container-header {
  .ticketing-pagination {
    .ticketing-pagination-icon {
      // background: get-color("l-silver");
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: darken($color: get-color("silver"), $amount: 1);
      }
    }
  }
}
/* 2 Column Card Layout */
@media screen and (max-width: 736px) {
  .collection-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .item {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
  }

  /* Don't display the first item, since it is used to display the header for tabular layouts*/
  .collection-container > li:first-child {
    display: none;
  }

  .attribute::before {
    content: attr(data-name);
  }

  /* Attribute name for first column, and attribute value for second column. */
  .attribute {
    display: grid;
    grid-template-columns: minmax(9em, 30%) 1fr;
  }
}

/* 1 Column Card Layout */
@media screen and (max-width: 580px) {
  .collection-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Tabular Layout */
@media screen and (min-width: 737px) {
  /* The maximum column width, that can wrap */
  .item-container {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 3fr 1fr 8rem 10rem;
  }

  .attribute-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--column-width-min), 1fr)
    );
  }

  /* Definition of wrapping column width for attribute groups. */
  .part-information {
    --column-width-min: 10em;
  }

  .part-id {
    --column-width-min: 10em;
  }

  .vendor-information {
    --column-width-min: 8em;
  }

  .quantity {
    --column-width-min: 5em;
  }

  .cost {
    --column-width-min: 5em;
  }

  .duty {
    --column-width-min: 5em;
  }

  .freight {
    --column-width-min: 5em;
  }

  /* In order to maximize row lines, only display one line for a cell */
  .attribute {
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-container:hover {
    background-color: rgb(200, 227, 252);
  }

  /* Center header labels */
  .collection-container > .item-container:first-child .attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: initial;
    overflow: auto;
    white-space: normal;
  }
}

.upload-box {
  margin: 0;

  img {
    height: 96px;
    width: 96px;
  }
}

.width-input {
  width: 356px;
}

.background-page {
  background-image: linear-gradient(0deg, #eaeff4 75%, #fff 0);
  height: 100%;
}

.ticket-details {
  height: 100%;
  display: flex;
  flex-direction: column;

  .ul-custom {
    margin-right: 0;
    padding-right: 0;
    li {
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 9px;
        background-color: get-color("orange");
        border-radius: 100%;
      }
    }
  }

  .ticketing-box {
    border-right: 2px solid get-color("orange");
  }

  .request {
    position: relative;
    background-color: lighten($color: get-color("orange"), $amount: 30);
    min-height: 150px;
    border-right: 2.5rem solid get-color("orange");
    .border-bottom-black {
      border-bottom: 1px solid get-color("orange");
    }

    .question {
      position: relative;
      .position-absolute {
        position: absolute;
      }

      div {
        max-width: 50%;
        position: relative;
      }
    }

    &::after {
      content: "";
      width: 28px;
      height: 28px;
      background: get-color("white");
      position: absolute;
      top: 4rem;
      right: -3.2rem;
      border-radius: 50%;
    }
  }

  .comments {
    position: relative;
    display: flex;
    .comment-avatar {
      width: 40px;
      height: 40px;
      border: 2px solid;
      border-radius: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
    svg {
      font-size: 22px;
    }
    &.comments-customer {
      .comment-avatar {
        background: get-color("white");
        color: get-color("l-silver");
      }
      .description {
        background: get-color("l-stone");
        border-radius: 10px 0px 10px 10px;
        .attachment-icon {
          border-radius: 6px 6px 16px 6px;
        }
      }
      svg {
        color: get-color("l-stone");
      }
    }
    &.comments-supporter {
      flex-direction: row-reverse;
      .comment-avatar {
        background: get-color("l-silver");
        color: get-color("red");
      }
      .description {
        background: get-color("sky");
        border-radius: 0px 10px 10px 10px;
        .attachment-icon {
          border-radius: 6px 6px 6px 16px;
        }
      }
      svg {
        transform: scale(-1, 1);
        color: get-color("sky");
      }
    }

    .description {
      color: get-color("d-gray");
      padding: 12px;
      line-height: 28px;
      position: relative;
      .attachment-icon {
        background: get-color("white");
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background: darken($color: get-color("white"), $amount: 30);
          svg {
            color: get-color("white");
          }
        }
        svg {
          color: get-color("orange");
        }
      }
      .progressbar-box {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 12px;
        .progressbar-box-line {
          width: 100%;
          height: 3px;
          background: #cccccc;
          position: absolute;
        }
        .progressbar-box-percentage {
          height: 5.33px;
          background: #fcbc2b;
          position: absolute;
          left: 0;
        }
      }
    }

    .comment-time {
      color: #999999;
      padding: 5px 10px 0;
    }
  }

  .comments-image {
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #2ecc71;
    float: left;
    overflow: hidden;
  }

  .send-message {
    position: relative;
    display: flex;
    min-height: 45px;
    align-items: center;
    // margin-top: 3rem;

    .send-message-input {
      @include set-font-styles($config, body-1);
      padding: 5px 15px;
      width: 100%;
      color: get-color("silver");
      cursor: text;
      &:empty:before {
        content: attr(placeholder);
      }
    }
    .send-message-icon {
      cursor: pointer;
      color: get-color("l-gray");
      padding: 10px 1rem;
      &:hover {
        color: get-color("d-gray");
      }
    }
  }
}

.go-to-top {
  position: absolute;
  bottom: 0;
  right: 0.625rem;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
