<main class="warranty-type">
    <div class="row">
        <div class="col-lg-12">
            <form cg-busy="self.promiseLoading" name="companyForm" autocomplete="off" novalidate
                ng-submit="self.submit(self.company,companyForm)" promise-btn>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="so-title">اطلاعات شرکت</div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="pt-2">
                                    <div class="so-body-1 mb-1">بارگذاری نشان شرکت</div>
                                    <div class="so-h5 text-l-gray">نشان شرکت می بایست در ابعاد 215 در 215 پیکسل و دارای
                                        نسبت
                                        یک به یک یا مربعی بوده و کمتر از 50 کیلوبایت حجم داشته باشد.</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="upload-box text-left">
                                    <div class="before-upload" ng-model="self.company.logo"
                                        ngf-model-options="{updateOn: 'change'}" ng-if="self.company.logo==null"
                                        ngf-select="self.uploadLogo($files)">
                                        <i class="far s-circle-plus s-6x text-white bg-orange p-3"></i>
                                    </div>
                                    <div class="after-upload d-flex justify-content-center align-items-center"
                                        id="myList" ng-if="self.company.logo!=null">
                                        <div class="loading-container" ng-if="self.loadingShow">
                                            <div class="loader"></div>
                                            <div class="loading-text so-h6">منتظر بمانید...</div>
                                        </div>
                                        <img ngf-thumbnail="self.company.logo"
                                            ngf-src="self.download + self.company.logo" alt="">
                                        <button ng-model="self.company.logo" class="btn edit shadow-none h-100 w-100"
                                            ngf-select="self.uploadLogo($files)">
                                            <i class="fas s-edit s-2x text-white"></i>
                                            <div class="loading-text text-white so-h6">بارگزاری مجدد</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">کد اقتصادی</label>
                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-lock"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-number="uint" required ng-model="self.company.economicCode"
                                            name="EconomicCode" />
                                        <div ng-messages="companyForm.EconomicCode.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">کد اقتصادی نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">کد اقتصادی نباید بیش از چهل کاراکتر باشد</div>
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <!-- <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-shield-check"></i>
                                    </sd-icon>
                                    <label for="">نوع فعالیت</label>
                                    <select class="custom-select so-input-xl w-100"
                                        ng-model="self.company.activityType" required name="ActivityType">
                                        <option ng-value="1" selected>تولیدی</option>
                                        <option ng-value="2" selected>توزیعی </option>
                                        <option ng-value="3" selected>بازرگانی داخلی</option>
                                        <option ng-value="4" selected>بازرگانی خارجی</option>
                                        <option ng-value="5" selected>آزمایشگاهی/ تحقیقاتی</option>
                                    </select>
                                    <div ng-messages="companyForm.ActivityType.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div> -->
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-shield-check"></i>
                                    </sd-icon>
                                    <label for="">نوع شرکت</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.companyRegistrationType" name="CompanyRegistrationType">
                                        <option ng-value="1" selected>سهامی خاص</option>
                                        <option ng-value="2" selected>مسئولیت محدود</option>
                                        <option ng-value="3" selected>سهامی عام</option>
                                        <option ng-value="4" selected>تعاونی</option>
                                        <option ng-value="5" selected>تضامینی</option>
                                        <option ng-value="6" selected>موسسه غیر تجاری</option>
                                    </select>
                                    <div ng-messages="companyForm.CompanyRegistrationType.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <!-- <sd-input-container class="material text-right">
                                            <label for="">نوع فعالیت</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-shield-check"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="40"
                                                     required
                                                    ng-model="self.company.activityType" name="activityType" />
                                                <div ng-messages="companyForm.activityType.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">نوع فعالیت نباید کمتر از دو کاراکتر باشد</div>
                                                    <div ng-message="maxlength">نوع فعالیت نباید بیش از چهل کاراکتر باشد</div>
                                                </div>
                                            </div>
                                        </sd-input-container> -->
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-shield-check"></i>
                                    </sd-icon>
                                    <label for="">نوع فعالیت</label>
                                    <select class="custom-select so-input-xl w-100" ng-model="self.company.activityType"
                                        required name="ActivityType">
                                        <option ng-value="1" selected>تولیدی</option>
                                        <option ng-value="2" selected>توزیعی </option>
                                        <option ng-value="3" selected>بازرگانی داخلی</option>
                                        <option ng-value="4" selected>بازرگانی خارجی</option>
                                        <option ng-value="5" selected>آزمایشگاهی/ تحقیقاتی</option>
                                    </select>
                                    <div ng-messages="companyForm.ActivityType.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="col-lg-12">
                        <div class="so-title">اطلاعات تماس شرکت</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">شماره ثابت</label>
                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-phone"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="3" ng-maxlength="20"
                                            required ng-input-filter-number="uint"
                                            ng-model="self.company.contactInfo.phoneNumber" name="Phone" />

                                        <div ng-messages="companyForm.Phone.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">شماره ثابت نباید کمتر از سه کاراکتر باشد
                                            </div>
                                            <div ng-message="maxlength">شماره ثابت نباید بیش از بیست کاراکتر باشد</div>
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">شماره فکس</label>
                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-print"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="3" ng-maxlength="20"
                                            ng-input-filter-number="uint" ng-model="self.company.contactInfo.fax"
                                            name="Fax" />

                                        <div ng-messages="companyForm.Fax.$error">
                                            <div ng-message="minlength">شماره فکس نباید کمتر از سه کاراکتر باشد</div>
                                            <div ng-message="maxlength">شماره فکس نباید بیش از بیست کاراکتر باشد</div>
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">ایمیل</label>
                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-envelope"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" required
                                            ng-model="self.company.contactInfo.email" name="Email"
                                            ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' />
                                        <div ng-messages="companyForm.Email.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="pattern">فرمت ورودی صحیح نمی باشد</div>
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">کد پستی</label>
                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-envelope"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="10" ng-maxlength="10"
                                            required ng-input-filter-number="uint"
                                            ng-model="self.company.contactInfo.postalCode" name="PostalCode" />

                                        <div ng-messages="companyForm.PostalCode.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">کد پستی نباید کمتر از ده کاراکتر باشد</div>
                                            <div ng-message="maxlength">کد پستی نباید بیش از ده کاراکتر باشد</div>
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-apartment"></i>
                                    </sd-icon>
                                    <label for="">استان</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.contactInfo.province" name="Province"
                                        ng-change="self.CityGet(self.company.contactInfo.province)">
                                        <option ng-repeat="prov in self.Province" ng-value="prov.name">{{prov.name}}
                                        </option>
                                    </select>
                                    <div ng-messages="companyForm.Province.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-apartment"></i>
                                    </sd-icon>
                                    <label for="">شهر</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.contactInfo.city" name="city">
                                        <option ng-repeat="city in self.city" ng-value="city.name">{{city.name}}
                                        </option>
                                    </select>
                                    <div ng-messages="companyForm.city.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-12">
                                <sd-input-container class="material text-right">
                                    <label for="">آدرس دفتر مرکزی</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-home"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="120"
                                            required ng-model="self.company.contactInfo.address" name="Address" />

                                        <div ng-messages="companyForm.Address.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">آدرس نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">آدرس نباید بیش از صد و بیست کاراکتر باشد</div>

                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-12">
                                <sd-input-container class="material text-right">
                                    <label for="">وب سایت</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-home"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-input-filter-alphabet="English"
                                            ng-model="self.company.contactInfo.webSite" name="webSite" />

                                        <div ng-messages="companyForm.webSite.$error">
                                            <div ng-message="minlength">وب سایت نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">وب سایت نباید بیش از صد و بیست کاراکتر باشد
                                            </div>
                                            <div ng-message="inputFilterAlphabet">
                                                وب سایت باید انگلیسی باشد
                                            </div>
                                        </div>
                                    </div>
                                </sd-input-container>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-green so-btn-md" type="submit">
                            ثبت
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>