<div class="row mt-5 warranty-facture">
    <div class="col-lg-9">
        <div class="so-title font-weight-bold mb-2">
            صورت حساب
        </div>
        <!-- <div class="text-l-gray so-h5">
            طبق بند دو مقررات صندوق های فناوری و
            نواوری مصوبه 5/4/89 شورای وزیران شرکت های دریافت کننده خدمات صندوق ها
            می بایست کارمزدی شامل نیم درصد از مبلغ ضمانت نامه را به صندوق پرداخت نمایند.
        </div> -->
        <div class="w-50 mt-3 mb-4 table-width">
            <table class="table table-bordered so-h5">
                <thead class="text-center">
                    <tr>
                        <th>موارد</th>
                        <th class="width-140">مبلغ (ریال)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <span>
                                کارمزد
                            </span>
                        </td>
                        <td class="text-center">
                            <span ng-bind="self.paymentInformation.commission | number"></span>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>مالیات</td>
                        <td>
                            <span ng-bind="self.paymentInformation.tax | number"></span>
                        </td>
                    </tr>

                    <tr class="text-center">
                        <td>
                            <span>آورده نقدی</span>
                            <span></span>
                        </td>
                        <td class="text-n-green" ng-bind="self.paymentInformation.broughCash | number"></td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            <span>جمع کل</span>
                        </td>
                        <td class="text-n-green" ng-bind="self.paymentInformation.totalSum | number"></td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            <span>پرداخت آنلاین</span>
                            <span></span>
                        </td>
                        <td class="text-n-green" ng-bind="self.paymentInformation.onlinePaymentAmount | number"></td>
                    </tr>
                    <tr class="text-center">
                        <td>پرداخت غیر آنلاین (تایید شده) </td>
                        <td class="text-n-green" ng-bind="self.paymentInformation.acceptedPaymentAmount | number"></td>
                    </tr>
                    <tr class="text-center">
                        <td>پرداخت غیر آنلاین (در انتظار تایید) </td>
                        <td class="text-orange" ng-bind="self.paymentInformation.pendingPaymentAmount | number"></td>
                    </tr>
                    <tr class="text-center">
                        <td>پرداخت غیر آنلاین (تایید نشده) </td>
                        <td class="text-red" ng-bind="self.paymentInformation.rejectedPaymentAmount | number"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="my-5 mr-3">
            <div class="row">
                <span class="bg-l-silver border-right-n-green py-2 pr-4  font-weight-bold">
                    <span class="so-body-1 ml-5">
                        مبلغ قابل پرداخت:
                    </span>
                    <span class="text-n-green ml-5" ng-bind="self.paymentInformation.remainedPayableAmount | number">

                    </span>
                    <span class="bg-n-green py-2 px-5 mr-5 text-white pointer" data-toggle="modal"
                        data-target="#exampleModal">
                        پرداخت
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="so-h5 text-silver mt-4 warning-payment-text">
                    مبلغ قابل پرداخت میبایست در نهایت پرداخت گردد. شما میتوانید بخشی از مبلغ یا
                    کل مبلغ را بصورت آنلاین پرداخت کنید. بخشی از مبلغ میتواند بصورت غیرآنلاین
                    پرداخت
                    شود.
                </span>
            </div>
        </div>

    </div>
</div>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body bg-l-silver py-0 px-3">
                <!-- <div class="row">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="fas s-times s-xs"></i></span>
						</button>
					</div> -->
                <div class="">
                    <div class="row">
                        <div class="col-lg-6 border-left-silver">
                            <form name="onlineForm" class="h-100" autocomplete="off" novalidate
                                ng-submit="self.submitOnline(self.price,onlineForm)" promise-btn>
                                <div class="py-3 px-4 d-flex h-100 flex-column justify-content-between">
                                    <div class="so-body-1 font-weight-bold mb-2">پرداخت آنلاین</div>
                                    <div class="so-h5 text-silver mb-2">
                                        مبلغی که مدنظر دارید در این مرحله تسویه کنید
                                        را
                                        وارد
                                        نمایید.
                                    </div>
                                    <sd-input-container class="material text-right">
                                        <label for="">مبلغ مورد نظر</label>

                                        <div class="input-group">
                                            <!-- <sd-icon>
												<i class="fas s-home"></i>
											</sd-icon> -->
                                            <input class="so-input-xl w-100" currency-input type="text"
                                                ng-model="self.price" name="price" required />

                                            <div ng-messages="onlineForm.price.$error">
                                                <div ng-message="required">
                                                    پر کردن فیلد الزامی می‌باشد
                                                </div>
                                            </div>
                                        </div>
                                    </sd-input-container>
                                    <div>
                                        <button class="btn so-btn-sm btn-n-gray">اعمال کل مبلغ</button>
                                    </div>
                                    <div class="align-self-center">
                                        <button class="btn so-btn-md btn-n-green" type="submit">
                                            ادامه و
                                            پرداخت
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form name="offlineForm" class="h-100" autocomplete="off" novalidate
                                ng-submit="self.submitOfflinePay(self.offline,offlineForm)" promise-btn>
                                <div class="py-3 px-4 d-flex h-100 flex-column justify-content-between">
                                    <div class="so-body-1 font-weight-bold mb-2">پرداخت غیر آنلاین</div>
                                    <div class="so-h5 text-silver mb-2">
                                        مبلغی که واریز نموده اید را وارد کرده و
                                        تصویر
                                        فیش واریزی را ضمیمه نمایید.
                                    </div>
                                    <sd-input-container class="material text-right">
                                        <!-- <sd-icon>
												<i class="fas s-shield-check"></i>
											</sd-icon> -->
                                        <label for="">نحوه پرداخت</label>
                                        <select class="custom-select so-input-xl w-100"
                                            ng-model="self.offline.paymentType" required name="paymentType">
                                            <option ng-value="2" selected>چک</option>
                                            <option ng-value="3" selected>نقدی</option>
                                            <option ng-value="4" selected>واریز به حساب</option>
                                            <option ng-value="5" selected>دستگاه pos</option>
                                            <option ng-value="6" selected>کارت به کارت</option>
                                        </select>
                                        <div ng-messages="offlineForm.paymentType.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                        </div>
                                    </sd-input-container>
                                    <div ng-show="self.offline.paymentType" class="fade-custom">
                                        <sd-input-container class="material text-right">
                                            <label for="">مبلغ پرداخت شده</label>

                                            <div class="input-group">
                                                <!-- <sd-icon>
															<i class="fas s-home"></i>
														</sd-icon> -->
                                                <input class="so-input-xl w-100" currency-input type="text"
                                                    ng-model="self.offline.amount" name="amount" required />

                                                <div ng-messages="offlineForm.amount.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                        <div class="upload-box align-items-center my-2">
                                            <div class="so-h5">
                                                آپلود فیش واریزی یا چک صادر شده
                                            </div>
                                            <div class="before-upload h-76 text-left" ng-model="self.offline.Attachment"
                                                ngf-model-options="{updateOn: 'change'}"
                                                ng-if="self.offline.Attachment==null"
                                                ngf-select="self.offlineAttachment($files)">
                                                <i class="far s-circle-plus s-4x text-white bg-orange p-3"></i>
                                            </div>
                                            <div class="after-upload h-76 d-flex justify-content-center align-items-center"
                                                id="myList" ng-if="self.offline.Attachment!=null">
                                                <div class="loading-container" ng-if="self.loadingShow">
                                                    <div class="loader"></div>
                                                    <div class="loading-text so-h6">منتظر بمانید...</div>
                                                </div>
                                                <img class="h-100 w-100" ngf-thumbnail="self.offline.Attachment"
                                                    ngf-src="download + self.offline.Attachment" alt="">
                                                <button ng-model="self.offline.Attachment"
                                                    class="btn edit shadow-none h-100 w-100"
                                                    ngf-select="self.offlineAttachment($files)">
                                                    <i class="fas s-edit s-2x text-white"></i>
                                                    <div class="loading-text text-white so-h6">بارگزاری مجدد</div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="h-59"></div> -->
                                    <div class="align-self-center">
                                        <button class="btn so-btn-md btn-n-green align-self-center" type="submit">
                                            ثبت
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>