<main class="warranty-type">
    <div class="row">
        <div class="col-lg-12">
            <div cg-busy="self.promiseLoading" class="bg-l-silver px-5 py-4 mb-4" ng-if="self.type==4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="so-title">اطلاعات لیزینگ درخواستی</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="so-subheading-2">اطلاعات خریدار</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span ng-if="self.vendor.buyerType == 1" class="so-body-1 font-weight-bold">نام
                                    شرکت:</span>
                                <span ng-if="self.vendor.buyerType == 0" class="so-body-1 font-weight-bold">نام و نام
                                    خانوادگی:</span>
                            </div>
                            <div class="col-lg-7">
                                <span ng-if="self.vendor.buyerType == 1" class="so-body-1 text-silver"
                                    ng-bind="self.vendor.companyName"></span>
                                <span ng-if="self.vendor.buyerType == 0" class="so-body-1 text-silver"
                                    ng-bind="self.vendor.firstName + ' ' + self.vendor.lastName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span ng-if="self.vendor.buyerType == 1" class="so-body-1 font-weight-bold">شناسه
                                    ملی:</span>
                                <span ng-if="self.vendor.buyerType == 0" class="so-body-1 font-weight-bold">کد
                                    ملی:</span>
                            </div>
                            <div class="col-lg-7">
                                <span ng-if="self.vendor.buyerType == 1" class="so-body-1 text-silver"
                                    ng-bind="self.vendor.nationalId"></span>
                                <span ng-if="self.vendor.buyerType == 0" class="so-body-1 text-silver"
                                    ng-bind="self.vendor.nationalCode"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="so-subheading-2">اطلاعات قرارداد</div>
                    </div>
                    <!-- <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-5 mb-3">
                            <span class="so-body-1 font-weight-bold">شماره پرونده:</span>
                        </div>
                        <div class="col-lg-7">
                            <span class="so-body-1 text-silver"
                                ng-bind="self.vendor.folderNumber"></span>
                        </div>
                    </div>
                </div> -->
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">نام محصول:</span>
                            </div>
                            <div class="col-lg-7">
                                <span class="so-body-1 text-silver" ng-bind="self.vendor.productName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">شماره قرارداد:</span>
                            </div>
                            <div class="col-lg-7">
                                <span class="so-body-1 text-silver" ng-bind="self.vendor.contractNumber"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">مبلغ قرارداد:</span>
                            </div>
                            <div class="col-lg-7">
                                <span class="so-body-1 text-silver" ng-bind="self.vendor.contractAmount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">مبلغ درخواست:</span>
                            </div>
                            <div class="col-lg-7">
                                <span class="so-body-1 text-silver" ng-bind="self.vendor.requestAmount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">تاریخ قرارداد:</span>
                            </div>
                            <div class="col-lg-7">
                                <span class="so-body-1 text-silver"
                                    ng-bind="self.vendor.contractDate | jalaliDateFilter : 'jYYYY/jM/jD'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">فایل قرارداد:</span>
                            </div>
                            <div class="col-lg-7">
                                <a target="_blank" class="so-body-1 text-green" ng-if="self.vendor.contractFile!=null"
                                    ng-href="{{(download+self.vendor.contractFile)}}">
                                    دانلود
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 mb-3">
                                <span class="so-body-1 font-weight-bold">مرجع معرفی کننده:</span>
                            </div>
                            <div class="col-lg-7">
                                <span ng-if="self.vendor.introducer != 0" class="so-body-1 text-silver"
                                    ng-bind="self.vendor.introducer | loanIntroducerFilter"></span>
                                <span ng-if="self.vendor.introducer == 0" class="so-body-1 text-silver"
                                    ng-bind="self.vendor.introducerName"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <button class="btn btn-green so-btn-md ml-3" type="button"
                        ui-sref="panel.loan.buyerApproval.companyInformation">
                        تایید درخواست
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>