<div class="row jahadi-register">
	<img class="puzzle-1" src="../../images/addon.svg" alt="">
	<!-- <img class="puzzle-2" src="../../images/addon.svg" alt="">
	<img class="puzzle-3" src="../../images/addon.svg" alt="">
	<img class="puzzle-4" src="../../images/addon.svg" alt="">
	<img class="puzzle-5" src="../../images/addon.svg" alt="">
	<img class="puzzle-6" src="../../images/addon.svg" alt=""> -->
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-2">
				<button class="backbtn btn bg-ocean-blue d-flex justify-content-center align-items-center m-2"
					ui-sref="panel.main">
					<sd-icon class="text-white">
						<i class="fas s-times"></i>
					</sd-icon>
				</button>
			</div>
			<div class="col-lg-10 d-flex flex-column align-items-center justify-content-center py-5">
				<div class="register-title so-display-1 text-ocean-blue mb-5">
					ثبت اطلاعات گروه جهادی
				</div>
				<form name="jahadiForm" autocomplete="off" novalidate ng-submit="self.submit(self.jahadi,jahadiForm)"
					promise-btn>
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="row">
								<div class="col-lg-12">
									<sd-input-container class="material text-right">
										<label>نام گروه</label>
										<div class="input-group">
											<input class="reg-input so-input-xl w-100" type="text" ng-minlength="2"
												ng-maxlength="40" ng-model="self.jahadi.title" name="title" required />
											<div ng-messages="jahadiForm.title.$error">
												<div ng-message="required">
													پر کردن فیلد الزامی میباشد
												</div>
												<div ng-message="minlength">
													نام گروه نباید کمتر از دو
													کاراکتر باشد
												</div>
												<div ng-message="maxlength">
													نام گروه نباید کمتر از دو
													کاراکتر باشد
												</div>
											</div>
										</div>
									</sd-input-container>
									<sd-input-container class="material text-right">
										<label>نام و نام خانوادگی سرگروه</label>
										<div class="input-group">
											<input class="reg-input so-input-xl w-100" type="text" ng-minlength="2"
												ng-maxlength="40" ng-model="self.jahadi.name" name="name" required />
											<div ng-messages="jahadiForm.name.$error">
												<div ng-message="required">
													پر کردن فیلد الزامی میباشد
												</div>
												<div ng-message="minlength">
													نام و نام خانوادگی سرگروه نباید کمتر از دو
													کاراکتر باشد
												</div>
												<div ng-message="maxlength">
													نام و نام خانوادگی سرگروه نباید بیش از چهل
													کاراکتر باشد
												</div>
											</div>
										</div>
									</sd-input-container>
									<sd-input-container class="material text-right">
										<label>شماره تلفن سرگروه</label>
										<div class="input-group">
											<input class="reg-input so-input-xl w-100" type="text" ng-minlength="1"
												ng-maxlength="15" ng-input-filter-number="uint"
												ng-model="self.jahadi.phoneNumber" name="phoneNumber" required />
											<div ng-messages="jahadiForm.phoneNumber.$error">
												<div ng-message="required">
													پر کردن فیلد الزامی میباشد
												</div>
												<div ng-message="minlength">
													شماره تلفن سرگروه نباید کمتر از یک کاراکتر باشد
												</div>
												<div ng-message="maxlength">
													شماره تلفن سرگروه باید کمتر از پانزده کاراکتر
													باشد
												</div>
											</div>
										</div>
									</sd-input-container>
									<sd-input-container class="material text-right">
										<label>شماره تلفن اضطراری</label>
										<div class="input-group">
											<input class="reg-input so-input-xl w-100" type="text" ng-minlength="1"
												ng-maxlength="15" ng-input-filter-number="uint"
												ng-model="self.jahadi.emergencyNumber" name="emergencyNumber"
												required />
											<div ng-messages="jahadiForm.emergencyNumber.$error">
												<div ng-message="required">
													پر کردن فیلد الزامی میباشد
												</div>
												<div ng-message="minlength">
													شماره تلفن اضطراری نباید کمتر از یک کاراکتر باشد
												</div>
												<div ng-message="maxlength">
													شماره تلفن اضطراری باید کمتر از پانزده کاراکتر
													باشد
												</div>
											</div>
										</div>
									</sd-input-container>
								</div>
								<div class="col-lg-12">
									<sd-input-container class="material text-right">
										<label>نشانی</label>
										<div class="input-group">
											<textarea
												class="reg-input pt-3 pr-2 textarea-custom h-100 so-input-xl w-100"
												ng-model="self.jahadi.address" ng-minlength="2" ng-maxlength="200"
												name="address" cols="60" rows="8" required></textarea>
											<div ng-messages="jahadiForm.address.$error">
												<div ng-message="required">
													پر کردن فیلد الزامی میباشد
												</div>
												<div ng-message="minlength">
													توضیحات نمیتواند کمتر از دو
													کاراکتر باشد
												</div>
												<div ng-message="maxlength">
													توضیحات نمیتواند بیشتر از دویست
													کاراکتر باشد
												</div>
											</div>
										</div>
										<div ng-messages="jahadiForm.jahadiType.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی میباشد
											</div>
										</div>
									</sd-input-container>
								</div>
								<div class="col-lg-12 text-center mt-4">
									<!-- <button class="reg-btn btn btn-ocean-blue w-100" type="submit">
										ثبت و ادامه
									</button> -->
									<button class="reg-btn btn btn-ocean-blue w-100" ui-sref="panel.jahadiRegister.serviceInfo">
										ثبت و ادامه
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<img class="puzzle-illustratio" src="../../images/first-svg-1.svg" alt="پویش همدلی">
	</div>
</div>