<section class="warranty-type">
    <div class="row">
        <div class="col-lg-12">
            <form name="companyForm" autocomplete="off" novalidate ng-submit="self.submit(self.company,companyForm)">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="so-title">اطلاعات ثبتی</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">شماره ثبت</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-clipboard-list"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-number="uint" ng-model="self.company.registerNumber"
                                            name="registerNumber" required />

                                        <div ng-messages="companyForm.registerNumber.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">شماره ثبت نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">شماره ثبت نباید بیش از چهل کاراکتر باشد</div>
                                        </div>
                                    </div>

                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">تاریخ ثبت</label>

                                    <adm-dtp class="w-100" ng-model='self.company.registerDate'>
                                        <sd-icon>
                                            <i class="fas s-calendar"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type='text' name="RegisterDate"
                                            ng-model="self.company.registerDate" dtp-input required
                                            maxdate="'{{self.dateLimit}}'" />
                                        <span dtp-destroy>
                                            <svg class="removeIcon ng-scope" viewBox="0 0 24 24" dtp-destroy
                                                ng-if="self.company.registerDate">
                                                <use xlink:href="#dtp-i-close"></use>
                                            </svg>
                                        </span>
                                        <div ng-messages="companyForm.RegisterDate.$error"
                                            ng-show="companyForm.RegisterDate.$touched">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                        </div>
                                    </adm-dtp>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">سرمایه ثبتی</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-bitcoin"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" currency-input type="text" ng-minlength="4"
                                            ng-maxlength="15" ng-model="self.company.fund" name="Fund" required />
                                        <div ng-messages="companyForm.Fund.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">سرمایه ثبتی نباید کمتر از چهار رقم باشد</div>
                                            <div ng-message="maxlength">سرمایه ثبتی نباید بیش از پانزده رقم باشد</div>
                                        </div>
                                    </div>

                                </sd-input-container>
                            </div>
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-apartment"></i>
                                    </sd-icon>
                                    <label for="">استان</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.province" name="Province"
                                        ng-change="self.CityGet(self.company.province)">
                                        <option ng-repeat="prov in self.Province" ng-value="prov.name">{{prov.name}}
                                        </option>
                                    </select>
                                    <div ng-messages="companyForm.Province.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                    <label for="">استان</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-apartment"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-alphabet="persianAlphabet" ng-model="self.company.province"
                                            name="Province" />

                                        <div ng-messages="companyForm.Province.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">استان نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">استان نباید بیش از چهل کاراکتر باشد</div>
                                            <div ng-message="inputFilterAlphabet">
                                                استان باید فارسی باشد
                                            </div>
                                        </div>
                                    </div>

                                </sd-input-container> -->
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-apartment"></i>
                                    </sd-icon>
                                    <label for="">شهر</label>
                                    <select class="custom-select so-input-xl w-100" required
                                        ng-model="self.company.city" name="city">
                                        <option ng-repeat="city in self.city" ng-value="city.name">{{city.name}}
                                        </option>
                                    </select>
                                    <div ng-messages="companyForm.City.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                    <label for="">شهر</label>

                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-apartment"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-input-filter-alphabet="persianAlphabet" ng-model="self.company.city"
                                            name="City" />

                                        <div ng-messages="companyForm.City.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">شهر نباید کمتر از دو کاراکتر باشد</div>
                                            <div ng-message="maxlength">شهر نباید بیش از چهل کاراکتر باشد</div>
                                            <div ng-message="inputFilterAlphabet">
                                                شهر باید فارسی باشد
                                            </div>
                                        </div>
                                    </div>

                                </sd-input-container> -->
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">تاریخ روزنامه رسمی</label>

                                    <adm-dtp class="w-100" ng-model='self.company.newsPaperDate'>
                                        <sd-icon>
                                            <i class="fas s-calendar"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type='text' name="newsPaperDate"
                                            ng-model="self.company.newsPaperDate" dtp-input required />
                                        <span dtp-destroy>
                                            <svg class="removeIcon ng-scope" viewBox="0 0 24 24" dtp-destroy
                                                ng-if="self.company.newsPaperDate">
                                                <use xlink:href="#dtp-i-close"></use>
                                            </svg>
                                        </span>
                                        <div ng-messages="companyForm.newsPaperDate.$error"
                                            ng-show="companyForm.newsPaperDate.$touched">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                        </div>
                                    </adm-dtp>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">شماره روزنامه رسمی</label>
                                    <div class="input-group">
                                        <sd-icon>
                                            <i class="fas s-apartment"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
                                            ng-model="self.company.newsPaperNumber" name="newsPaperNumber" required />

                                        <div ng-messages="companyForm.newsPaperNumber.$error">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                            <div ng-message="minlength">شماره نباید کمتر از دو کاراکتر باشد
                                            </div>
                                            <div ng-message="maxlength">شماره نباید بیش از چهل کاراکتر باشد
                                            </div>
                                        </div>
                                    </div>

                                </sd-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <button class="btn btn-green so-btn-md ml-3" type="submit">
                            ثبت
                        </button>
                        <button class="btn btn-orange so-btn-md text-white" type="button"
                            ui-sref="panel.loan.buyerApproval.companyInformation">
                            بازگشت
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>