<main class="warranty-type">
    <div class="row">
        <div class="col-lg-12">
            <form name="companyForm" autocomplete="off" novalidate ng-submit="self.submit(self.company,companyForm)"
                promise-btn>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="so-title font-weight-bold">اطلاعات درخواست</div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <sd-input-container class="material text-right">
                                            <label for="">مبلغ تسهیلات</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-calendar"></i>
                                                </sd-icon>
                                                <input currency-input class="so-input-xl w-100" ng-minlength="10"
                                                    ng-maxlength="16" ng-model="self.company.requestAmount"
                                                    name="RequestAmount" required />
                                                <div ng-messages="companyForm.RequestAmount.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">مبلغ تسهیلات نباید کمتر از ده میلیون
                                                        ریال باشد
                                                    </div>
                                                    <div ng-message="maxlength">مبلغ تسهیلات نباید بیش از پانصد میلیارد
                                                        ریال
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-6"></div>
                                    <div class="col-lg-12">
                                        <sd-input-container class="material text-right mt-2">
                                            <div class="input-group">
                                                <textarea class="textarea-custom h-100 pt-2"
                                                    ng-model="self.feedback.description"
                                                    ng-input-filter-alphabet="persian"
                                                    placeholder="علت درخواست (حداکثر 500 کارکتر)" ng-minlength="2"
                                                    ng-maxlength="500" name="description" cols="130" rows="8"
                                                    required></textarea>
                                                <div ng-messages="verifyForm.description.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">توضیحات نمیتواند کمتر از دو
                                                        کاراکتر باشد
                                                    </div>
                                                    <div ng-message="maxlength">توضیحات نمیتواند بیشتر از پانصد
                                                        کاراکتر باشد
                                                    </div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        توضیحات باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-6">
                                        <sd-input-container class="material text-right">
                                            <sd-icon>
                                                <i class="fas s-shield-check"></i>
                                            </sd-icon>
                                            <label for="">مرجع معرفی کننده</label>
                                            <select class="custom-select so-input-xl w-100"
                                                ng-required="self.company.isKnowledgeBase"
                                                ng-model="self.company.knowledgeBaseInfo.knowledgeBaseType"
                                                name="knowledgeBaseType">
                                                <!-- <option value="">نوع شرکت</option> -->
                                                <option ng-value="1" selected>صنعتی</option>
                                                <option ng-value="2" selected>خدماتی</option>
                                            </select>
                                            <div ng-messages="companyForm.knowledgeBaseType.$error">
                                                <div ng-message="required">
                                                    پر کردن فیلد الزامی می‌باشد
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-6">
                                        <sd-input-container class="material text-right">
                                            <label for="">نامه مرجع معرفی کننده</label>

                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-apartment"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
                                                    ng-required="self.company.isInPark"
                                                    ng-model="self.company.parkInfo.name" name="name" />

                                                <div ng-messages="companyForm.name.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">نام پارک نباید کمتر از دو کاراکتر باشد
                                                    </div>
                                                    <div ng-message="maxlength">نام پارک نباید بیش از چهل کاراکتر باشد
                                                    </div>
                                                    <div ng-message="inputFilterAlphabet">
                                                        نام پارک باید فارسی باشد
                                                    </div>
                                                </div>
                                            </div>

                                        </sd-input-container>
                                    </div>
                                    <div class="col-lg-6">
                                        <sd-input-container class="material text-right">
                                            <label for="">شماره نامه معرفی کننده</label>
                                            <div class="input-group">
                                                <sd-icon>
                                                    <i class="fas s-clipboard-list"></i>
                                                </sd-icon>
                                                <input class="so-input-xl w-100" type="text" ng-minlength="2"
                                                    ng-maxlength="70" ng-input-filter-number="uint"
                                                    ng-model="self.company.tenderNumber" name="TenderNumber" required />
                                                <div ng-messages="companyForm.TenderNumber.$error">
                                                    <div ng-message="required">
                                                        پر کردن فیلد الزامی می‌باشد
                                                    </div>
                                                    <div ng-message="minlength">شماره مناقصه نباید کمتر از دو کاراکتر
                                                        باشد
                                                    </div>
                                                    <div ng-message="maxlength">شماره مناقصه نباید بیش از هفتاد کاراکتر
                                                        باشد
                                                    </div>
                                                </div>
                                            </div>
                                        </sd-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-green so-btn-md ml-2">
                            ثبت
                        </button>
                        <button class="btn btn-orange so-btn-md text-white" type="button"
                            ui-sref="panel.loan.completeRequest.registryInformation">
                            بازگشت
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>