<main class="warranty-type">
    <div class="row">
        <div class="col-lg-12" cg-busy="self.promiseLoading">
            <form name="companyForm" autocomplete="off" novalidate ng-submit="self.submit(self.company,companyForm)"
                promise-btn>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="so-title">اطلاعات دانش بنیان</div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-between">
                        <div class="so-title">دانش بنیان هستیم</div>
                        <sd-input-container ng-click="self.company.isCreative = false"
                            class="custom-control custom-switch custom-control-green sd-input-has-value">
                            <input type="checkbox" ng-model="self.company.isKnowledgeBase"
                                class="custom-control-input sd-input so-input-xl" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1"></label>
                        </sd-input-container>
                    </div>
                    <div class="col-lg-12 mb-3" ng-if="self.company.isKnowledgeBase">
                        <div class="row">
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-shield-check"></i>
                                    </sd-icon>
                                    <label for="">حوزه فناوری</label>
                                    <select class="custom-select so-input-xl w-100"
                                        ng-required="self.company.isKnowledgeBase"
                                        ng-model="self.company.knowledgeBaseInfo.technologyType" name="TechnologyType">
                                        <!-- <option value="">نوع شرکت</option> -->
                                        <option ng-value="1" selected>نفت و گاز</option>
                                        <option ng-value="2" selected>مخابرات</option>
                                        <option ng-value="3" selected>الکترونیک</option>
                                        <option ng-value="4" selected>مکانیک پیشرفته</option>
                                        <option ng-value="5" selected>هوا فضا</option>
                                        <option ng-value="6" selected>فناوری اطلاعات</option>
                                        <option ng-value="7" selected>نانو</option>
                                        <option ng-value="8" selected>پزشکی و دارو</option>
                                        <option ng-value="9" selected>رباتیک</option>
                                        <option ng-value="10" selected>سایر</option>
                                    </select>
                                    <div ng-messages="companyForm.TechnologyType.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                            <sd-icon>
                                                <i class="fas s-shield-check"></i>
                                            </sd-icon>
                                            <label for="">حوزه فناوری</label>
                                            <select class="custom-select so-input-xl w-100" required
                                                ng-model="self.company.knowledgeBaseInfo.technologyType"
                                                name="TechnologyType">
                                                <option ng-value="1" selected>نفت و گاز</option>
                                                <option ng-value="2" selected>مخابرات</option>
                                                <option ng-value="3" selected>الکترونیک</option>
                                                <option ng-value="4" selected>مکانیک پیشرفته</option>
                                                <option ng-value="5" selected>هوا فضا</option>
                                                <option ng-value="6" selected>فناوری اطلاعات</option>
                                                <option ng-value="7" selected>نانو</option>
                                                <option ng-value="8" selected>بیولوژی و دارو</option> 
                                                <option ng-value="9" selected>تجهیزات</option> 
                                                <option ng-value="10" selected>رباتیک</option> 
                                                <option ng-value="11" selected>سایر</option> 
                                            </select>
                                            <div ng-messages="companyForm.TechnologyType.$error">
                                                <div ng-message="required">
                                                    پر کردن فیلد الزامی می‌باشد
                                                </div>
                                            </div>
                                        </sd-input-container> -->
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">تاریخ دانش بنیان شدن</label>

                                    <adm-dtp class="w-100"
                                        ng-model='self.company.knowledgeBaseInfo.dateBeingKnowledgeBase'>
                                        <sd-icon>
                                            <i class="fas s-calendar"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type='text' name="dateBeingKnowledgeBase"
                                            ng-model="self.company.knowledgeBaseInfo.dateBeingKnowledgeBase" dtp-input
                                            required />
                                        <span dtp-destroy>
                                            <svg class="removeIcon ng-scope" viewBox="0 0 24 24" dtp-destroy
                                                ng-if="self.company.knowledgeBaseInfo.dateBeingKnowledgeBase">
                                                <use xlink:href="#dtp-i-close"></use>
                                            </svg>
                                        </span>
                                        <div ng-messages="companyForm.dateBeingKnowledgeBase.$error"
                                            ng-show="companyForm.dateBeingKnowledgeBase.$touched">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                        </div>
                                    </adm-dtp>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">وضعیت شرکت</label>
                                    <sd-icon>
                                        <i class="fas s-shield-check"></i>
                                    </sd-icon>
                                    <select class="custom-select so-input-xl w-100"
                                        ng-required="self.company.isKnowledgeBase"
                                        ng-model="self.company.knowledgeBaseInfo.companyStatus" name="companyStatus">
                                        <!-- <option value="">نوع شرکت</option> -->
                                        <option ng-value="1" selected>نوپا</option>
                                        <option ng-value="2" selected>غیر نوپا</option>
                                    </select>
                                    <div ng-messages="companyForm.companyStatus.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                            <sd-icon>
                                                <i class="fas s-shield-check"></i>
                                            </sd-icon>
                                            <label for="">وضعیت شرکت</label>
                                            <select class="custom-select so-input-xl w-100" required
                                                ng-model="self.company.knowledgeBaseInfo.companyStatus"
                                                name="companyStatus">
                                                <option ng-value="true" selected>نوپا</option>
                                                <option ng-value="false" selected>غیر نوپا</option>
                                            </select>
                                            <div ng-messages="companyForm.companyStatus.$error">
                                                <div ng-message="required">
                                                    پر کردن فیلد الزامی می‌باشد
                                                </div>
                                            </div>
                                        </sd-input-container> -->
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <label for="">تاریخ اعتبار</label>

                                    <adm-dtp class="w-100" ng-model='self.company.knowledgeBaseInfo.expirationDate'>
                                        <sd-icon>
                                            <i class="fas s-calendar"></i>
                                        </sd-icon>
                                        <input class="so-input-xl w-100" type='text' name="expirationDate"
                                            ng-model="self.company.knowledgeBaseInfo.expirationDate" dtp-input
                                            required />
                                        <span dtp-destroy>
                                            <svg class="removeIcon ng-scope" viewBox="0 0 24 24" dtp-destroy
                                                ng-if="self.company.knowledgeBaseInfo.expirationDate">
                                                <use xlink:href="#dtp-i-close"></use>
                                            </svg>
                                        </span>
                                        <div ng-messages="companyForm.expirationDate.$error"
                                            ng-show="companyForm.expirationDate.$touched">
                                            <div ng-message="required">
                                                پر کردن فیلد الزامی می‌باشد
                                            </div>
                                        </div>
                                    </adm-dtp>
                                </sd-input-container>
                            </div>
                            <div class="col-lg-6">
                                <sd-input-container class="material text-right">
                                    <sd-icon>
                                        <i class="fas s-shield-check"></i>
                                    </sd-icon>
                                    <label for="">حوزه کاری</label>
                                    <select class="custom-select so-input-xl w-100"
                                        ng-required="self.company.isKnowledgeBase"
                                        ng-model="self.company.knowledgeBaseInfo.knowledgeBaseType"
                                        name="knowledgeBaseType">
                                        <!-- <option value="">نوع شرکت</option> -->
                                        <option ng-value="1" selected>صنعتی</option>
                                        <option ng-value="2" selected>خدماتی</option>
                                    </select>
                                    <div ng-messages="companyForm.knowledgeBaseType.$error">
                                        <div ng-message="required">
                                            پر کردن فیلد الزامی می‌باشد
                                        </div>
                                    </div>
                                </sd-input-container>
                                <!-- <sd-input-container class="material text-right">
                                            <sd-icon>
                                                <i class="fas s-shield-check"></i>
                                            </sd-icon>
                                            <label for="">حوزه کاری</label>
                                            <select class="custom-select so-input-xl w-100" required
                                                ng-model="self.company.knowledgeBaseType"
                                                name="knowledgeBaseType">
                                                <option ng-value="1" selected>صنعتی</option>
                                                <option ng-value="2" selected>خدماتی</option>
                                            </select>
                                            <div ng-messages="companyForm.knowledgeBaseType.$error">
                                                <div ng-message="required">
                                                    پر کردن فیلد الزامی می‌باشد
                                                </div>
                                            </div>
                                        </sd-input-container> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6 d-flex justify-content-between">
                        <div class="so-title">در پارک مستقریم</div>
                        <sd-input-container
                            class="custom-control custom-switch custom-control-green sd-input-has-value">
                            <input type="checkbox" ng-model="self.company.isInPark"
                                class="custom-control-input sd-input so-input-xl" id="customSwitch2">
                            <label class="custom-control-label" for="customSwitch2"></label>
                        </sd-input-container>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6" ng-if="self.company.isInPark">
                        <sd-input-container class="material text-right">
                            <label for="">نام پارک</label>

                            <div class="input-group">
                                <sd-icon>
                                    <i class="fas s-apartment"></i>
                                </sd-icon>
                                <select class="so-input-xl w-100" ng-required="self.company.isInPark"
                                    ng-model="self.company.parkInfo.name" name="name">
                                    <option value="{{item.key}}" ng-repeat="item in self.typeOfFormation"
                                        ng-bind="item.key"></option>
                                </select>

                                <div ng-messages="companyForm.name.$error">
                                    <div ng-message="required">
                                        پر کردن فیلد الزامی می‌باشد
                                    </div>
                                    <div ng-message="minlength">نام پارک نباید کمتر از دو کاراکتر باشد</div>
                                    <div ng-message="maxlength">نام پارک نباید بیش از چهل کاراکتر باشد</div>
                                    <div ng-message="inputFilterAlphabet">
                                        نام پارک باید فارسی باشد
                                    </div>
                                </div>
                            </div>

                        </sd-input-container>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 mb-4" ng-show="self.company.isInPark">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="pt-2">
                                    <div class="so-body-1 mb-1 font-weight-bold">بارگذاری گواهی استقرار</div>
                                    <div class="so-h5 text-l-gray">گواهی استقرار می بایست در ابعاد 215 در 215 پیکسل و
                                        دارای
                                        نسبت یک به یک یا مربعی بوده و کمتر از 50 کیلوبایت حجم داشته باشد.</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="upload-box text-left">
                                    <div class="before-upload" ng-model="self.company.parkInfo.establishmentAttachment"
                                        ngf-model-options="{updateOn: 'change'}"
                                        ng-if="self.company.parkInfo.establishmentAttachment==null"
                                        ngf-select="self.uploadLogo($files)">
                                        <i class="far s-circle-plus s-6x text-white bg-orange p-3"></i>
                                    </div>
                                    <div class="after-upload d-flex justify-content-center align-items-center"
                                        id="myList" ng-if="self.company.parkInfo.establishmentAttachment!=null">
                                        <div class="loading-container" ng-if="self.loadingShow">
                                            <div class="loader"></div>
                                            <div class="loading-text so-h6">منتظر بمانید...</div>
                                        </div>
                                        <img ngf-thumbnail="self.company.parkInfo.establishmentAttachment"
                                            ngf-src="self.download + self.company.parkInfo.establishmentAttachment"
                                            alt="">
                                        <button ng-model="self.company.parkInfo.establishmentAttachment"
                                            class="btn edit shadow-none h-100 w-100"
                                            ngf-select="self.uploadLogo($files)">
                                            <i class="fas s-edit s-2x text-white"></i>
                                            <div class="loading-text text-white so-h6">بارگزاری مجدد</div>

                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6 d-flex justify-content-between">
                        <div class="so-title">خلاق هستم</div>
                        <sd-input-container ng-click="self.company.isKnowledgeBase = false"
                            class="custom-control custom-switch custom-control-green sd-input-has-value">
                            <input type="checkbox" ng-model="self.company.isCreative"
                                class="custom-control-input sd-input so-input-xl" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3"></label>
                        </sd-input-container>
                    </div>
                    <div class="col-lg-6" ng-show="self.company.isCreative">
                        <div class="so-h5 text-red border-alert-box d-flex align-items-center px-3 py-1">
                            <i class="fas s-times-circle s-2x"></i>
                            <span class="mr-3 text-justify">
                                یک شرکت میتواند یا خلاق باشد یا دانش بنیان باشد.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-6 d-flex justify-content-between">
                            <button class="btn btn-green so-btn-md ml-2" type="submit">
                                ثبت
                            </button>
                            <button class="btn btn-orange so-btn-md text-white" type="button"
                                ui-sref="panel.loan.buyerApproval.uploadDocuments">
                                بازگشت
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</main>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body d-flex flex-column align-items-center flex-wrap">
                <div><i class="fas s-times-circle text-red s-3x"></i></div>
                <div class="so-h5 my-3">
                    به دلیل عدم عضویت در شرکت های دانش بنیان و یا پارک های علم وفناوری کشور
                    شما قادر به تکمیل اطلاعات درخواست خود نمی باشید
                </div>
                <div>
                    <button class="btn so-btn-xs btn-orange text-white" data-dismiss="modal">تایید</button>
                </div>
            </div>
        </div>
    </div>
</div>