<section cg-busy="self.promiseLoading" class="ticket-details so-typography">
	<h1 class="container-fluid so-title mb-2 mt-5">
		تیکت شماره {{self.ticket.ticketCode}}
	</h1>
	<div class="bg-l-stone py-3 container-fluid d-flex justify-content-between align-items-center">
		<div class="d-flex flex-column">
			<div class="so-subheading-2 mb-2">پشتیبان</div>
			<div>
				<ul class="ul-custom so-body-1 mb-0">
					<li ng-if="self.ticket.ticketState == 0">باز شده</li>
					<li ng-if="self.ticket.ticketState == 1">بسته شده</li>
				</ul>
			</div>
		</div>
		<div ng-if="self.ticket.ticketState == 0">
			<button ng-click="self.closeTicket()" class="btn so-btn-sm btn-orange text-white m-0">بستن تیکت</button>
		</div>
	</div>
	<div class="p-relative d-flex justify-content-center flex-grow-1 mb-5">
		<div class="col-lg-8">
			<div class="row mt-4">
				<div class="col-lg-12">
					<div class="ticketing-box pr-4">
						<!-- <h3>تاریخچه گفتگوها</h3> -->
						<div class="request py-2">
							<div class="d-flex justify-content-between flex-wrap so-h5 border-bottom-black pb-2">
								<div class="pr-3">
									<span>عنوان تیکت:</span>
									<span class="text-blue" ng-bind="self.ticket.title"></span>
								</div>
								<div class="text-blue pl-3">
									<span class="font-weight-bold" ng-bind="self.ticket.ticketTypeDescription"></span>
								</div>
							</div>
							<div class="d-flex justify-content-between flex-wrap so-h5 pt-3 px-3 question">
								<div class="position-relative" ng-bind="self.ticket.description"></div>
								<div>
									<span ng-bind="self.ticket.creationDate | jalaliDateFilter : 'HH:mm'">
									</span>
									<span>
										|
									</span>
									<span ng-bind="self.ticket.creationDate | jalaliDateFilter : 'jD jMMMM jYYYY'">
									</span>
								</div>
								<!-- <span class="position-absolute">
									بیشتر
								</span> -->
							</div>
							<a ng-if="self.ticket.attachment" class="ml-3 mb-3 mt-4 float-left" target="_blank" title="فایل ضمیمه" ng-href="{{download+self.ticket.attachment}}">
								<i class="fas s-paperclip s-lg"></i>
							</a>
						</div>
						<div class="comment-box">
							<!-- <div class="col-md-2">
									<div class="comments-image"><img class="h-100 w-100"
											ng-src="{{self.previewLogoWithoutAuth+comment.id}}" check-Image
											 replace-Image="self.defaultAvatar" alt=""></div>

								</div> -->
							<div class="comments mt-5 comments-customer" ng-repeat="comment in self.ticket.detailItems"
								 ng-class="{
                                    'comments-customer':comment.ownerType == 0,
                                    'comments-supporter':comment.ownerType == 1,
                                }">
								<div class="comment-avatar">
									<img ng-if="comment.ownerType == 0" ng-src="{{self.newService.logo == null ? self.nullLogo :$root.download + self.logoId}}">
									<img ng-if="comment.ownerType == 1" src="../../images/supporter.svg">
								</div>
								<i class="fas s-dialogright"></i>
								<div class="d-flex flex-column">
									<div class="description so-h5">
										<div ng-if="comment.description" ng-bind="comment.description"></div>
										<div ng-if="comment.attachment">
											<a class="attachment-icon"
											   ng-href="{{comment.attachment == 'uploading' ? null : ($root.download + comment.attachment)}}"
											   target="_blank">
												<i class="fas s-paperclip s-lg s-rotate-180"></i>
											</a>
											<div class="progressbar-box" ng-if="comment.attachment == 'uploading'">
												<span class="progressbar-box-line"></span>
												<span class="progressbar-box-percentage"
													  ng-style="{ 'width': comment.progressPercent + '%' }"></span>
											</div>
										</div>

									</div>
									<div class="comment-time so-h5">
										<span ng-bind="comment.dateTime | jalaliDateFilter : 'HH:mm'"></span>
										<span ng-bind="comment.dateTime | jalaliDateFilter : 'jD jMMMM'"></span>
									</div>
								</div>

							</div>
							<!-- <div class="comments mt-5 comments-supporter">
								<i class="fas s-dialogright"></i>
								<div class="description so-h5 border-radius-left-box">
									سلام لطفا هرچه زودتر نتیجه را اعلام
								</div>
							</div> -->
						</div>


					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-l-silver go-to-top">
			<i class="fas s-angle-up"></i>
		</button>
	</div>
	<div class="send-message bg-l-stone" ng-if="self.ticket.ticketState == 0">
		<div class="send-message-icon" ng-click="self.comment('text')">
			<i class="fas s-paper-plane s-lg"></i>
		</div>
		<div class="send-message-input" placeholder="هرآنچه میخواهید بنویسید" contenteditable="true"></div>
		<div class="send-message-icon" ngf-model-options="{updateOn: 'change'}"
			 ngf-select="self.uploadAttachment($files)">
			<i class="fas s-paperclip s-lg"></i>
		</div>
	</div>
</section>