<section id="panel" class="d-flex">
	<!-- <aside class="sidebar">
		<a class="d-flex flex-column logo" href="#">
			<div class="text-ocean-blue so-display-1">پویش مومنانه</div>
			<img src="../../../images/agreement.svg" alt="صندوق توسعه فناوری های نوین">
		</a>
		<ul class="menu">
			<li class="item">
				<a ui-sref="panel.jahadiPanel.dashboard" ui-sref-opts="{ reload: true }" ui-sref-active="active"
					class="link" href="#menu1" data-toggle="collapse">
					<i class="fas s-home ml-2"></i>
					لیست نیازمندان
				</a>
			</li>
			<li class="item">
				<a class="link" ui-sref="panel.jahadiPanel.dashboard">
					<i class="fas s-user ml-2"></i>
					پروفایل
				</a>
			</li>
			<li class="item">
				<a class="link" ui-sref="panel.jahadiPanel.dashboard">
					<i class="fas s-user ml-2"></i>
					ارتباط با ادمین
				</a>
			</li>
			<li class="item">
				<a class="link" ui-sref="panel.jahadiPanel.dashboard">
					<i class="fas s-setting ml-2"></i>
					تنظیمات
				</a>
			</li>
		</ul>
	</aside> -->
	<div class="dashboard d-flex flex-column w-100">
		<div class="list-header bg-white mb-3">
			<header class="row p-4 d-flex justify-content-between align-items-center">
				<div class="col-lg-7 d-flex">
					<div class="dashboard-search w-100 ml-1">
						<sd-input-container class="material text-right flex-grow-1 mb-0">
							<sd-icon>
								<i class="fas s-search"></i>
							</sd-icon>
							<input class="w-100 bg-l-stone border-0" id="search-box-dashboard" placeholder="جستجو کنید"
								type="text" ng-minlength="2" ng-maxlength="70" ng-model="self.search"
								ng-change="self.dataFilter()" ng-model-options="{ debounce: 500 }" />
						</sd-input-container>
					</div>
				</div>
				<div class="col-lg-5 d-flex justify-content-end">
					<div class="text-black d-flex align-items-center">
						<div>
							<span>امروز:</span>
							<span ng-bind="self.currentDate"></span>
							<span ng-bind="self.clock"></span>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div class="dashboard-list bg-white m-4">
			<div class="row" cg-busy="self.promiseLoading">
				<div class="col-lg-12">
					<div>
						<table class="table spacing-table csm-table" show-filter="false">
							<thead class="bg-white text-d-gray ng-scope">
								<tr>
									<th class="header ">
										<span class="ng-binding sort-indicator"></span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">نام و نام خانوادگی</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">سرپرست خانوار</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">شماره تلفن</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">کد ملی</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">آدرس</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator"></span>
									</th>
								</tr>
							</thead>
							<!-- <tbody ng-repeat="row in self.company.loan"> -->
							<tbody>
								<tr class="bg-white">
									<td class="" data-title="'نوع قرارداد'" filter="false">
										<span>
											{{$index+1}}.
											<!-- 1. -->
										</span>
									</td>
									<td class="" data-title="'نام و نام خانوادگی'" filter="false">
										<!-- {{row.financialSourceType}} -->
										احمد احمدی
									</td>
									<td data-title="'سرپرست خانوار'" filter="false">
										<!-- <span class="bg-green" ng-if="row.hasAddedValue">هست</span>
										<span class="bg-d-red" ng-if="!row.hasAddedValue">نیست</span> -->
										<span class="bg-green text-white p-2">هست</span>
										<!-- <span class="bg-red text-white p-2">نیست</span> -->
									</td>
									<td data-title="'شماره تلفن'" filter="false">
										<!-- {{row.loanRate}} -->
										09336887181
									</td>
									<td data-title="'کد ملی'" filter="false">
										<!-- {{row.loanRate}} -->
										0022986472
									</td>
									<td data-title="'آدرس'" filter="false">
										<!-- {{row.mulctRate}} -->
										نارمک ، میدان 44 ، کوچه هشت متری دوم غربی ، هیئت فاطمیون
									</td>
									<td data-title="''" filter="false">
										<button class="btn btn-sm btn-ocean-blue text-white"
											ng-click="self.getData(row)">جزئیات</button>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr class="bg-white">
									<td class="" data-title="'نوع قرارداد'" filter="false">
										<span>
											2.
										</span>
									</td>
									<td class="" data-title="'نام و نام خانوادگی'" filter="false">
										<!-- {{row.financialSourceType}} -->
										رامین خانزاده
									</td>
									<td data-title="'سرپرست خانوار'" filter="false">
										<!-- <span class="bg-green" ng-if="row.hasAddedValue">هست</span>
										<span class="bg-d-red" ng-if="!row.hasAddedValue">نیست</span> -->
										<!-- <span class="bg-green text-white p-2">هست</span> -->
										<span class="bg-red text-white p-2">نیست</span>
									</td>
									<td data-title="'شماره تلفن'" filter="false">
										<!-- {{row.loanRate}} -->
										09156677889
									</td>
									<td data-title="'کد ملی'" filter="false">
										<!-- {{row.loanRate}} -->
										0019876546
									</td>
									<td data-title="'آدرس'" filter="false">
										<!-- {{row.mulctRate}} -->
										نارمک ، خیابان دماوند ، کوچه اول ، پلاک 34 ، طبقه سوم
									</td>
									<td data-title="''" filter="false">
										<button class="btn btn-sm btn-ocean-blue text-white"
											ng-click="self.getData(row)">جزئیات</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>