.box-border {
  border-right: 20px solid get-color('l-gray');
}

.box-border-success {
  border-right: 20px solid get-color('green');
  transition: .5s ease;
}

.answer-box {
  height: 65px;
  width: 120px;
  background-color: get-color('l-silver');
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.justify-content-evenly {
  justify-content: space-evenly
}

.assessment-rating-table {
  td {
    vertical-align: middle;
  }
}

.circle-success {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background-color: get-color('n-green');
    border: 4px solid get-color('n-green');
    border-radius: 50%;
    box-shadow: inset 0 0 0 calc( 4px * 1  ) white;
    cursor: pointer;
    height: 30px;
    width: 30px;
    right: -41px;
    top: 4px;
  }
}

.circle-todo {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background-color: get-color('silver');
    border: 4px solid get-color('silver');
    border-radius: 50%;
    box-shadow: inset 0 0 0 calc( 4px * 1  ) white;
    cursor: pointer;
    height: 30px;
    width: 30px;
    right: -41px;
    top: 4px;
  }
}

.result-box {
  // width: 390px;
  // height: 48px;
  background-color: get-color('silver');
  color: get-color('white');
  display: flex;
  justify-content: center;
  align-items: center;
}