<section class="mt-4 container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mb-4">رسید واریز وجه</h2>
            <div class="row">
                <div class="col-lg-10" ng-if="self.saleOrderId.ResCode == 0">
                    <div class="bg-green text-white px-4 py-2 mb-3">پرداخت با موفقیت انجام شد.</div>
                </div>
                <div class="col-lg-10" ng-if="self.saleOrderId.ResCode != 0">
                    <div class="bg-l-stone px-4 py-2">

                        <div class="d-flex justify-content-between">
                            <h3 class="mb-3">تاییدیه پرداخت</h3>
                            <i class="fas s-printer"></i>
                        </div>
                        <div class="d-flex">
                            <div>
                                <img class="bank-logo ml-5" ng-src="{{self.bankImage}}" alt="بانک پارسیان">
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex flex-wrap">
                                    <div class="ml-5">کد پیگیری:</div>
                                    <div ng-bind="self.saleOrderId.SaleOrderId"></div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="ml-5">مبلغ پرداختی:</div>
                                    <div ng-bind="self.saleOrderId.Amount | number"></div>
                                </div>
                                <div>
                                    <button class="btn so-btn-md btn-green">بازگشت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mb-4">رسید واریز وجه</h2>
            <div class="row">
                <div class="col-lg-10">
                    <div class="bg-red text-white px-4 py-2 mb-3">تراکنش با خطا مواجه شد.</div>
                </div>
                <div class="col-lg-10">
                    <div class="bg-l-stone px-4 py-2">

                        <div class="d-flex justify-content-between">
                            <h3 class="mb-3">پرداخت ناموفق</h3>
                            <i class="fas s-printer"></i>
                        </div>
                        <div class="d-flex">
                            <div>
                                <img class="bank-logo ml-5" ng-src="{{self.bankImage}}" alt="بانک پارسیان">
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex flex-wrap">
                                    <div class="ml-5">کد پیگیری:</div>
                                    <div ng-bind="self.saleOrderId.SaleOrderId"></div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="ml-5">مبلغ پرداختی:</div>
                                    <div ng-bind="self.saleOrderId.Amount | number"></div>
                                </div>
                                <div>
                                    <button class="btn so-btn-md btn-orange text-white">بازگشت</button>
                                    <span class="so-h5">
                                        چنانچه مبلغی از حساب شما کسر شده ظرف مدت 72 ساعت یا کمتر به حساب شما بازخواهد
                                        گشت.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>