.member-box {
  padding: 16px 16px 40px 16px;
  border: 1.5px solid get-color("l-purple");

  .button-add-member {
    position: absolute;
    bottom: -63px;
  }
}

.upload-box {
  margin: 0;
  justify-content: flex-end;

  .after-upload,
  .before-upload {
    height: 100px;
    width: 100px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.warranty-type {
  .tender-type-box {
    .lock {
      display: none;
    }

    &.locked {
      pointer-events: none;

      .lock {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .working-capital-box {
    background: url("../../images/tender.jpg") no-repeat;
    background-size: cover;
    position: relative;

    &.hover-box {
      &::after {
        opacity: 0;
        position: absolute;
        content: " سرمایه در گردش";
        height: 100%;
        width: 100%;
        background-color: rgba(94, 96, 0, 0.9);
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        transition: all 0.5s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    .tender-title {
      color: #5e6000;
    }
  }
  // .payment-box:hover {
  //   background-image: url("../../images/payment-hover.jpg");
  // }
  .prototyping-box {
    background: url("../../images/payment.jpg") no-repeat;
    background-size: cover;
    position: relative;

    &.hover-box {
      &::after {
        opacity: 0;
        position: absolute;
        content: "نمونه سازی";
        height: 100%;
        width: 100%;
        background-color: rgba(94, 96, 0, 0.9);
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        transition: all 0.5s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    .payment-title {
      color: #7a6e00;
    }
  }

  .prototyping-box-modal {
    background: url("../../images/payment.jpg") no-repeat;
    background-size: cover;
    position: relative;
    transition: all 0.5s ease;
    filter: brightness(0.7);
    padding: 9%;

    .advantage-title {
      color: #7a6e00;
    }
  }

  .prototyping-box-modal:hover {
    transition: all 0.5s ease;
    filter: brightness(1);
  }

  .industrial-production-box {
    background: url("../../images/advantage.jpg") no-repeat;
    background-size: cover;
    position: relative;

    &.hover-box {
      &::after {
        opacity: 0;
        position: absolute;
        content: "تولید صنعتی";
        height: 100%;
        width: 100%;
        background-color: rgba(94, 96, 0, 0.9);
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        transition: all 0.5s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    .advantage-title {
      color: #845d17;
    }
  }

  .industrial-production-box-modal {
    background: url("../../images/advantage.jpg") no-repeat;
    background-size: cover;
    position: relative;
    transition: all 0.5s ease;
    filter: brightness(0.7);
    padding: 9%;

    .advantage-title {
      color: #845d17;
    }
  }

  .industrial-production-box-modal:hover {
    transition: all 0.5s ease;
    filter: brightness(1);
  }

  .leasing-box {
    background: url("../../images/credit.jpg") no-repeat;
    background-size: cover;
    position: relative;

    &.hover-box {
      &::after {
        opacity: 0;
        position: absolute;
        content: "لیزینگ";
        height: 100%;
        width: 100%;
        background-color: rgba(168, 95, 71, 0.9);
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        transition: all 0.5s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    .credit-title {
      color: #7c412e;
    }
  }
}

.collateral-type-box {
  background: url("../../../images/select_vasighe.jpg") no-repeat;
  background-size: cover;

  .collateral-type-title {
    color: #4c2b00;
  }
}

.upload-box {
  // padding: 50px 20px;
  // background-color: get-color("orange");
  .before-upload {
    position: relative;
    cursor: pointer;
  }

  .after-upload {
    position: relative;
    background-color: get-color("orange");

    img {
      // height: 128px;
      // width: 135px;
      object-fit: contain;
    }

    .edit {
      opacity: 0;
      position: absolute;
    }

    &::after {
      content: "";
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 100%;
      top: -50px;
      right: 0;
      transition: 0.5s ease;
    }

    &:hover {
      .edit {
        transition: 0.9s ease;
        opacity: 1;
        z-index: 5;
      }

      &::after {
        content: "";
        top: 0;
        background-color: get-color("black");
        opacity: 0.68;
        transition: 0.5s ease;
      }
    }
  }
}

.warning-payment-text {
  width: 57%;
  display: inline-block;
  text-align: justify;
}

.h-59 {
  height: 58.19px;
}

.h-76 {
  height: 76px;
  width: 65px;
}

.ng-hide {
  opacity: 0;
  transition: none 0;
}

.bank-logo {
  // height: 114px;
  width: 118px;
}

.alert-box {
  background-color: #e0e0e0;
  border: 1.3px solid #b1b1b1;
}
