@import "../variables";

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.eot");
  src: url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.ttf")
      format("truetype"),
    // svg
      url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.svg#IRAN Sans") format("svg");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 300;
  src: url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.eot");
  src: url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.ttf")
      format("truetype"),
    // svg
      url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.svg#IRAN Sans") format("svg");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 400;
  src: url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.eot");
  src: url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.ttf")
      format("truetype"),
    // svg
      url("//db.onlinewebfonts.com/t/0b0a8c345731751b990403a2cf40fbec.svg#IRAN Sans") format("svg");
}

html:lang(fa) body {
  font-family: $font-family-iran-yekan;
}
