.feedBack {
  .selected {
    background-color: get-color("blue");
    color: get-color("white");
  }
  .rating.large .star,
  .star.large {
    width: 60px !important;
    height: 56px !important;
  }
  .color-ok,
  i {
    font-size: 70px !important;
    margin: 10px;
  }
  .color-positive,
  i {
    font-size: 70px !important;
    margin: 10px;
  }
  .color-negative,
  i {
    font-size: 70px !important;
    margin: 10px;
  }
  .color-default,
  i {
    font-size: 70px !important;
    margin: 10px;
  }
}
