<div class="row mx-4 pt-5 mb-5 loan-upload-collateral">
	<form name="companyForm" autocomplete="off" novalidate>
		<div class="col-lg-12">
			<div class="so-title mb-2">
				بارگذاری مدارک وثایق
			</div>
			<div class="collateral-type-box p-4">
				<div class="so-display-2 collateral-type-title">
					<!--<span class="text-green" ng-bind="(self.selectedBail.approvedAmount| number) + ' ريال'"></span>
					<span>|</span>-->
					<span ng-repeat="item in self.selectedBail.bails">
						<span ng-bind="item | bailTypeFilter"></span>
						<span ng-if="!$last"> + </span>
					</span>
				</div>
				<div class="so-body-1 font-weight-bold">
					توضیحات:
					<span ng-repeat="item in self.selectedBail.items">
						<span ng-bind="item.percent + ' درصد'"></span>
						<span ng-bind="item.type | bailTypeFilter"></span>
						<span ng-if="!$last"> , </span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div
				ng-if="(self.isFirst && self.sectionsHandler(1)) || (!self.isFirst && self.sectionsHandler(1) && self.company.chequeInfo.isRejected)">
				<h2 class="mt-5">اطلاعات چک</h2>
				<div class="row">
					<div class="col-lg-5 d-flex mt-3">
						<div class="col-lg-5 px-0">
							<div class="so-body-1 font-weight-bold">
								تصویر چک تضمین
							</div>
							<div class="so-h5 font-weight-bold text-l-gray">
								برای ثبت چک بعنوان تضمین پرونده خود بارگزاری تصویر چک مورد نظر الزامی میباشد
							</div>
						</div>
						<div class="col-lg-5">
							<div class="upload-box ml-5">
								<div class="before-upload" ng-model="self.company.chequeInfo.attachment"
									ngf-model-options="{updateOn: 'change'}"
									ng-if="self.company.chequeInfo.attachment==null"
									ngf-select="self.uploadChequeInfo($files)">
									<i class="far s-circle-plus s-8x text-white bg-orange p-3"></i>
								</div>
								<div class="after-upload w-100 h-100 d-flex justify-content-center align-items-center"
									id="myList" ng-if="self.company.chequeInfo.attachment!=null">
									<div class="loading-container" ng-if="self.loadingShow">
										<div class="loader"></div>
										<div class="loading-text so-h6">منتظر بمانید...</div>
									</div>
									<i class="fa s-check-circle s-8x text-white bg-orange p-3"></i>
									<button ng-model="self.company.chequeInfo.attachment"
										class="btn edit shadow-none h-100 w-100"
										ngf-select="self.uploadChequeInfo($files)">
										<i class="fas s-edit s-2x text-white"></i>
										<div class="loading-text text-white so-h6">
											بارگزاری مجدد
										</div>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-5" ng-if="!self.isFirst">
					<div class="col-lg-12">
						<button class="btn btn-green so-btn-md ml-3" type="button"
							ng-click="self.submitEditGuarantor(self.company,companyForm)" promise-btn>
							ثبت
						</button>
						<button class="btn btn-orange so-btn-md text-white" type="button"
							ng-click="self.backToSelectedBail()">
							بازگشت
						</button>
					</div>
				</div>
			</div>
			<div
				ng-if="(self.isFirst && self.sectionsHandler(2)) || (!self.isFirst && self.sectionsHandler(2) && self.company.chequeWithGuarantorInfo.isRejected)">
				<h2 class="mt-5">اطلاعات ضامنین</h2>
				<div class="row" cg-busy="self.promiseLoading">
					<div class="col-lg-12">
						<div class="so-title">ضامنین حقیقی</div>
					</div>
					<div class="col-lg-12 overflow-scroll"
						ng-if="self.company.chequeWithGuarantorInfo.individualGuarantors.length > 0">
						<table class="table spacing-table csm-table ng-scope" show-filter="false">
							<thead class="ng-scope">
								<tr class="ng-table-sort-header">
									<th class="header">
										<span class="ng-binding sort-indicator">نام</span>
									</th>
									<th class="header">
										<span class="ng-binding sort-indicator">نام پدر</span>
									</th>
									<th class="header">
										<span class="ng-binding sort-indicator">کد ملی</span>
									</th>
									<th class="header">
										<span class="ng-binding sort-indicator">صادره از</span>
									</th>
									<th class="header">
										<span class="ng-binding sort-indicator">شماره شناسنامه</span>
									</th>
									<th class="header">
										<span class="ng-binding sort-indicator">تلفن</span>
									</th>
									<th class="header">
										<span class="ng-binding sort-indicator">آدرس</span>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in self.company.chequeWithGuarantorInfo.individualGuarantors"
									class="bg-matte-gray ng-scope">
									<td data-title="'نام'" filter="false" data-title-text="نام">
										<span ng-bind="row.firstName +' '+ row.lastName"></span>
									</td>
									<td data-title="'نام پدر'" filter="false" data-title-text="نام پدر"
										ng-bind="row.fatherName">
									</td>
									<td data-title="'کد ملی'" filter="false" data-title-text="کد ملی"
										ng-bind="row.nationalCode">
									</td>
									<td data-title="'صادره از'" filter="false" data-title-text="صادره از"
										ng-bind="row.issued">
									</td>
									<td data-title="'شماره شناسنامه'" filter="false" data-title-text="شماره شناسنامه"
										ng-bind="row.birthCertificateNumber">
									</td>
									<td data-title="'تلفن'" filter="false" data-title-text="تلفن"
										ng-bind="row.phoneNumber">
									</td>
									<td data-title="'آدرس'" filter="false" data-title-text="آدرس" ng-bind="row.address">
									</td>
									<td>
										<button type="button" class="close"
											ng-click="self.removeFromList(row,self.company.chequeWithGuarantorInfo.individualGuarantors)">
											<span>&times;</span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<ng-form name="individualMembersForm" noValidate>
					<div class="row">
						<div class="col-lg-12">
							<div class="member-box">
								<div class="row">
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">نام</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.individualMember.firstName" name="firstName"
													required />

												<div ng-messages="individualMembersForm.firstName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نام نباید بیش از چهل کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">نام خانوادگی</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.individualMember.lastName" name="lastName"
													required />

												<div ng-messages="individualMembersForm.lastName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام خانوادگی نباید کمتر از دو
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														نام خانوادگی نباید بیش از چهل
														کاراکتر
														باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام خانوادگی باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">نام پدر</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.individualMember.fatherName" name="fatherName"
													required />

												<div ng-messages="individualMembersForm.fatherName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام پدر نباید کمتر از دو کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														نام پدر نباید بیش از چهل کاراکتر
														باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام پدر باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">کدملی</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="10"
													ng-maxlength="10" ng-input-filter-number="uint"
													ng-model="self.individualMember.nationalCode" name="nationalCode"
													required />

												<div ng-messages="individualMembersForm.nationalCode.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														کد ملی نباید کمتر از ده کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														کد ملی نباید بیش از ده کاراکتر باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">ش.شناسنامه</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="1"
													ng-maxlength="10" ng-input-filter-number="uint"
													ng-model="self.individualMember.birthCertificateNumber"
													name="birthCertificateNumber" required />

												<div ng-messages="individualMembersForm.birthCertificateNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														شماره شناسنامه نباید کمتر از یک
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														شماره شناسنامه نباید بیش از ده
														کاراکتر
														باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">صادره</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.individualMember.issued" name="issued" required />

												<div ng-messages="individualMembersForm.issued.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														صادره نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														صادره نباید بیش از چهل کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														صادره باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>

									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">تلفن</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="11"
													ng-maxlength="11" ng-input-filter-number="uint"
													ng-model="self.individualMember.phoneNumber" name="phoneNumber"
													required />
												<div ng-messages="individualMembersForm.phoneNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														تلفن نباید کمتر از یازده
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														تلفن نباید بیش از یازده
														کاراکتر
														باشد
													</div>
												</div>
											</div>
										</sd-input-container>

									</div>
									<div class="col-lg-12">
										<sd-input-container class="material text-right">
											<label for="">آدرس</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="120" ng-model="self.individualMember.address"
													name="address" required />
												<div ng-messages="individualMembersForm.address.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														آدرس نباید کمتر از دو
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														آدرس نباید بیش از صدوبیست
														کاراکتر
														باشد
													</div>
												</div>
											</div>
										</sd-input-container>

									</div>

									<div class="col-lg-12 d-flex justify-content-center">
										<div class="button-add-member">
											<button type="button" class="btn btn-l-purple so-btn-md"
												ng-click="self.pushToList(self.individualMember,individualMembersForm)">
												<span>
													<i class="fas s-plus text-white"></i>
												</span>
												<span class="text-white">
													اضافه نمودن
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-form>

				<div class="row mt-5" cg-busy="self.promiseLoading">
					<div class="col-lg-12">
						<h3 class="mb-4">ضامنین حقوقی</h3>
					</div>
					<div class="col-lg-12 overflow-scroll"
						ng-if="self.company.chequeWithGuarantorInfo.legalGuarantors.length > 0">
						<table class="table spacing-table csm-table ng-scope" show-filter="false">
							<thead class="ng-scope">
								<tr class="ng-table-sort-header">
									<th class="header ">
										<span class="ng-binding sort-indicator">نام</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">شماره ثبت</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">شناسه ملی</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">روزنامه ثبتی</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">تاریخ روزنامه</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">تلفن</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">به نمایندگی</span>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in self.company.chequeWithGuarantorInfo.legalGuarantors"
									class="bg-matte-gray ng-scope">
									<td data-title="'نام'" filter="false" data-title-text="نام">
										<span ng-bind="row.name"></span>
									</td>
									<td data-title="'شماره ثبت'" filter="false" data-title-text="شماره ثبت"
										ng-bind="row.registerNumber">
									</td>
									<td data-title="'شناسه ملی'" filter="false" data-title-text="شناسه ملی"
										ng-bind="row.nationalId">
									</td>
									<td data-title="'روزنامه رسمی'" filter="false" data-title-text="روزنامه رسمی"
										ng-bind="row.newsPaperNumber">
									</td>
									<td data-title="'تاریخ روزنامه'" filter="false" data-title-text="تاریخ روزنامه"
										ng-bind="row.newsPaperDate">
									</td>
									<td data-title="'تلفن'" filter="false" data-title-text="تلفن"
										ng-bind="row.phoneNumber">
									</td>
									<td data-title="'نمایندگان'" filter="false" data-title-text="نمایندگان">
										<div>
											<span ng-bind="row.directorMembers[0].fullName"></span>
											<span>({{row.directorMembers[0].position}})</span>
										</div>
										<div>
											<span ng-bind="row.directorMembers[1].fullName"></span>
											<span>({{row.directorMembers[1].position}})</span>
										</div>
									</td>
									<td>
										<button type="button" class="close"
											ng-click="self.removeFromList(row,self.company.chequeWithGuarantorInfo.legalGuarantors)">
											<span>&times;</span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<ng-form name="legalMembers" noValidate>
					<div class="row">
						<div class="col-lg-12">
							<div class="member-box">
								<div class="row">
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">نام شرکت</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.legalMember.name" name="name" required />

												<div ng-messages="legalMembers.name.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام شرکت نباید کمتر از دو کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														نام شرکت نباید بیش از چهل کاراکتر
														باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام شرکت باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">شماره ثبت</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="20" ng-input-filter-number="uint"
													ng-model="self.legalMember.registerNumber" name="registerNumber"
													required />

												<div ng-messages="legalMembers.registerNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														شماره ثبت نباید کمتر از دو
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														شماره ثبت نباید بیش از بیست
														کاراکتر
														باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">شناسه ملی</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="11"
													ng-maxlength="11" ng-input-filter-number="uint"
													ng-model="self.legalMember.nationalId" name="nationalId" required />

												<div ng-messages="legalMembers.nationalId.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														شناسه ملی نباید کمتر از یازده
														کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														شناسه ملی نباید بیش از یازده کاراکتر
														باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">شماره روزنامه رسمی</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-model="self.legalMember.newsPaperNumber"
													name="newsPaperNumber" required />

												<div ng-messages="legalMembers.newsPaperNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														شماره نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														شماره نباید بیش از چهل کاراکتر باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">تاریخ روزنامه</label>

											<adm-dtp class="w-100" ng-model='self.legalMember.newsPaperDate'>
												<sd-icon>
													<i class="fas s-calendar"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type='text' name="newsPaperDate"
													ng-model="self.legalMember.newsPaperDate" dtp-input required />
												<span dtp-destroy>
													<svg class="removeIcon ng-scope" viewBox="0 0 24 24" dtp-destroy
														ng-if="self.legalMember.newsPaperDate">
														<use xlink:href="#dtp-i-close"></use>
													</svg>
												</span>
												<div ng-messages="legalMembers.newsPaperDate.$error"
													ng-show="legalMembers.newsPaperDate.$touched">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
												</div>
											</adm-dtp>
										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">تلفن</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="11"
													ng-maxlength="11" ng-input-filter-number="uint"
													ng-model="self.legalMember.phoneNumber" name="phoneNumber"
													required />
												<div ng-messages="legalMembers.phoneNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														تلفن نباید کمتر از یازده
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														تلفن نباید بیش از یازده
														کاراکتر
														باشد
													</div>
												</div>
											</div>
										</sd-input-container>
									</div>
									<div class="col-lg-12 my-4">اطلاعات صاحبان امضا</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">نام و نام خانوادگی نماینده اول</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.legalMember.directorMembers[0].fullName"
													name="fullName" required />

												<div ng-messages="legalMembers.fullName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام و نام خانوادگی نماینده اول نباید
														کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نام و نام خانوادگی نماینده اول نباید
														بیش از چهل کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام و نام خانوادگی نماینده اول باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">سمت نماینده اول</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.legalMember.directorMembers[0].position"
													name="position" required />

												<div ng-messages="legalMembers.position.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														سمت نماینده اول نباید کمتر از دو
														کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														سمت نماینده اول نباید بیش از چهل
														کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														سمت نماینده اول باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">نام و نام خانوادگی نماینده دوم</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.legalMember.directorMembers[1].fullName"
													name="fullName" required />

												<div ng-messages="legalMembers.fullName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام و نام خانوادگی نماینده دوم نباید
														کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نام و نام خانوادگی نماینده دوم نباید
														بیش از چهل کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام و نام خانوادگی نماینده دوم باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-3">
										<sd-input-container class="material text-right">
											<label for="">سمت نماینده دوم</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.legalMember.directorMembers[1].position"
													name="position" required />

												<div ng-messages="legalMembers.position.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														سمت نماینده دوم نباید کمتر از دو
														کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														سمت نماینده دوم نباید بیش از چهل
														کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														سمت نماینده دوم باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>

									<div class="col-lg-12 d-flex justify-content-center">
										<div class="button-add-member">
											<button type="button" class="btn btn-l-purple so-btn-md"
												ng-click="self.pushToListLegal(self.legalMember, legalMembers)">
												<span>
													<i class="fas s-plus text-white"></i>
												</span>
												<span class="text-white">
													اضافه نمودن
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-form>
				<div class="row">
					<div class="col-lg-5 d-flex mt-3">
						<div class="col-lg-5 px-0">
							<div class="so-body-1 font-weight-bold">
								بارگذاری مستندات
							</div>
							<div class="modal fade" id="myModal">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-body text-right py-3 px-4">
											<div class="dir-rtl text-justify">
												<div class="so-body-2 mb-2">مدارک ضامن حقوقی معتبر</div>
												<div class="so-body-1 pr-3">
													<p>
														1- اطلاعات شناسنامه ای شرکت وکلیه اعضاء هیأت مدیره
														<br>
														2-مدارک ثبتی شرکت شامل اساسنامه، آگهی تاسیس و آخرین آگهی
														تغییرات
														<br>
														3- اظهارنامه منتهي به 3 سال اخیر و صورت معاملات فصلي دو
														فصل اخير
														<br>
														4-گردش حساب 3 ماهه گذشته شرکت
														<br>
														5-لیست اموال منقول و غیرمنقول شرکت ضامن به همراه تصویر
														سند
														<br>
														6-تکمیل فرمهای رضایتمندی اشخاص حقیقی و حقوقی برای کلیه
														اعضای هیأت مدیره و شرکت با مراجعه به
														قسمت فرمها در سایت صندوق به آدرس htdf.ir
														<br>

														7-گواهی امضای اعضای هیات مدیره شرکت
													</p>
												</div>
												<div class="so-body-2 mb-2">مدارک ضامن حقیقی معتبر</div>
												<div class="so-body-1 pr-3">
													<p>
														1- کپی شناسنامه و کارت ملی به همراه آدرس و تلفن همراه
														<br>

														2-ارسال مستندات لازم جهت مشخص نمودن هویت افراد:
														<br>
														<small class="pr-3">
															درصورت معرفی ضامن کاسب/ بازرگان: جواز کسب، ارائه
															مستندات
															بازرگانی/ خوداظهاری درباره میزان درآمد ماهانه
														</small>
														<br>
														<small class="pr-3">
															درصورت ارائه ضامن کارمند: گواهی کسر از حقوق، آخرین
															فیش
															حقوقی ممهور به مهر واحد مالی و حکم کارگزینی
														</small>
														<br>

														3-گواهی امضاء ضامنین
														<br>

														4-گردش حساب 6 ماه گذشته ضامنین (دارای میانگین/معدل حساب
														باشد)
														<br>

														5-تکمیل فرم رضایتمندی اشخاص حقیقی با مراجعه به قسمت
														فرم‌ها در سایت صندوق به آدرس htdf.ir
														<br>

														6-ارائه لیست اموال به همراه تصویر سند

													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="so-h5 font-weight-bold text-l-gray">
								مستندات می بایست فایل زیپ باشد. لطفا برای اطلاعات بیشتر روی مشاهده جزئیات کلیک
								نمایید.
							</div>
							<div class="pointer text-red so-h5" data-toggle="modal" data-target="#myModal">
								(مشاهده جزئیات)
							</div>
						</div>
						<div class="col-lg-5">
							<div class="upload-box ml-5">
								<div class="before-upload"
									ng-model="self.company.chequeWithGuarantorInfo.documentsAttachment"
									ngf-model-options="{updateOn: 'change'}"
									ng-if="self.company.chequeWithGuarantorInfo.documentsAttachment==null"
									ngf-select="self.uploadDocumentAttachment($files)">
									<i class="far s-circle-plus s-8x text-white bg-orange p-3"></i>
								</div>
								<div class="after-upload w-100 h-100 d-flex justify-content-center align-items-center"
									id="myList" ng-if="self.company.chequeWithGuarantorInfo.documentsAttachment!=null">
									<div class="loading-container" ng-if="self.loadingShow">
										<div class="loader"></div>
										<div class="loading-text so-h6">منتظر بمانید...</div>
									</div>
									<i class="fa s-check-circle s-8x text-white bg-orange p-3"></i>
									<button ng-model="self.company.chequeWithGuarantorInfo.documentsAttachment"
										class="btn edit shadow-none h-100 w-100"
										ngf-select="self.uploadDocumentAttachment($files)">
										<i class="fas s-edit s-2x text-white"></i>
										<div class="loading-text text-white so-h6">
											بارگزاری مجدد
										</div>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-5 d-flex mt-3">
						<div class="col-lg-5 px-0">
							<div class="so-body-1 font-weight-bold">
								تصویر چک تضمین
							</div>
							<div class="so-h5 font-weight-bold text-l-gray">
								برای ثبت چک بعنوان تضمین پرونده خود بارگزاری تصویر چک مورد نظر الزامی میباشد
							</div>
						</div>
						<div class="col-lg-5">
							<div class="upload-box ml-5">
								<div class="before-upload" ng-model="self.company.chequeWithGuarantorInfo.chequeInfo.attachment"
									ngf-model-options="{updateOn: 'change'}"
									ng-if="self.company.chequeWithGuarantorInfo.chequeInfo.attachment==null"
									ngf-select="self.uploadChequeForGuarantor($files)">
									<i class="far s-circle-plus s-8x text-white bg-orange p-3"></i>
								</div>
								<div class="after-upload w-100 h-100 d-flex justify-content-center align-items-center"
									id="myList" ng-if="self.company.chequeWithGuarantorInfo.chequeInfo.attachment!=null">
									<div class="loading-container" ng-if="self.loadingShow">
										<div class="loader"></div>
										<div class="loading-text so-h6">منتظر بمانید...</div>
									</div>
									<i class="fa s-check-circle s-8x text-white bg-orange p-3"></i>
									<button ng-model="self.company.chequeWithGuarantorInfo.chequeInfo.attachment"
										class="btn edit shadow-none h-100 w-100"
										ngf-select="self.uploadChequeForGuarantor($files)">
										<i class="fas s-edit s-2x text-white"></i>
										<div class="loading-text text-white so-h6">
											بارگزاری مجدد
										</div>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-5" ng-if="!self.isFirst">
					<div class="col-lg-12">
						<button class="btn btn-green so-btn-md ml-3" type="button"
							ng-click="self.submitEditGuarantor(self.company,companyForm)" promise-btn>
							ثبت
						</button>
						<button class="btn btn-orange so-btn-md text-white" type="button"
							ng-click="self.backToSelectedBail()">
							بازگشت
						</button>
					</div>
				</div>
			</div>
			<div
				ng-if="(self.isFirst && self.sectionsHandler(3)) || (!self.isFirst && self.sectionsHandler(3) && self.company.estateInfo.isRejected)">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="mb-4 mt-5">اطلاعات ملک</h3>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">شماره اصلی</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint"
											ng-model="self.company.estateInfo.originalNumber" name="originalNumber"
											required />
										<div ng-messages="companyForm.originalNumber.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												شماره نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												شماره باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">شماره فرعی</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint" ng-model="self.company.estateInfo.subNumber"
											name="subNumber" required />
										<div ng-messages="companyForm.subNumber.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												شماره نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												شماره باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">شماره قطعه</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint" ng-model="self.company.estateInfo.partNumber"
											name="partNumber" required />
										<div ng-messages="companyForm.partNumber.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												شماره نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												شماره باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">مساحت</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint" ng-model="self.company.estateInfo.area"
											name="area" required />
										<div ng-messages="companyForm.area.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												مساحت نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												مساحت باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">عنوان سند</label>

									<div class="input-group">
										<sd-icon>
											<i class="fas s-apartment"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="40"
											ng-input-filter-alphabet="persianAlphabet" required
											ng-model="self.company.estateInfo.title" name="title" />

										<div ng-messages="companyForm.title.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												عنوان سند نباید کمتر از دو کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												عنوان سند نباید بیش از چهل کاراکتر باشد
											</div>
											<div ng-message="inputFilterAlphabet">
												عنوان سند باید فارسی باشد
											</div>
										</div>
									</div>

								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">پلاک</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint" ng-model="self.company.estateInfo.plaque"
											name="plaque" required />
										<div ng-messages="companyForm.plaque.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												پلاک نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												پلاک باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">شماره اسناد مالکیت</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint"
											ng-model="self.company.estateInfo.ownershipNumber" name="ownershipNumber"
											required />
										<div ng-messages="companyForm.ownershipNumber.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												شماره نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												شماره باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6">
								<sd-input-container class="material text-right">
									<label for="">بخش</label>
									<div class="input-group">
										<sd-icon>
											<i class="fas s-calendar"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="1" ng-maxlength="15"
											ng-input-filter-number="uint" ng-model="self.company.estateInfo.section"
											name="section" required />
										<div ng-messages="companyForm.section.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">
												شماره نباید کمتر از یک کاراکتر باشد
											</div>
											<div ng-message="maxlength">
												شماره باید کمتر از پانزده کاراکتر
												باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-12">
								<sd-input-container class="material text-right">
									<label for="">نشانی</label>

									<div class="input-group">
										<sd-icon>
											<i class="fas s-apartment"></i>
										</sd-icon>
										<input class="so-input-xl w-100" type="text" ng-minlength="2" ng-maxlength="120"
											required ng-model="self.company.estateInfo.address" name="address" />
										<div ng-messages="companyForm.address.$error">
											<div ng-message="required">
												پر کردن فیلد الزامی می‌باشد
											</div>
											<div ng-message="minlength">نشانی نباید کمتر از دو کاراکتر باشد</div>
											<div ng-message="maxlength">
												نشانی نباید بیش از صدوبیست کاراکتر باشد
											</div>
										</div>
									</div>
								</sd-input-container>
							</div>
							<div class="col-lg-6 d-flex mt-5">
								<div class="col-lg-7">
									<div class="so-body-1 font-weight-bold">
										بارگذاری سند مالکیت
									</div>
									<div class="so-h5 font-weight-bold text-l-gray">
										سند مالکیت ملک مورد نظر خود را جهت بررسی ارزش ملکی و تایید اصالت آن بارگزاری
										کنید.
									</div>
								</div>
								<div class="col-lg-5">
									<div class="upload-box ml-5">
										<div class="before-upload" ng-model="self.company.estateInfo.attachment"
											ngf-model-options="{updateOn: 'change'}"
											ng-if="self.company.estateInfo.attachment==null"
											ngf-select="self.uploadEstateInfo($files)">
											<i class="far s-circle-plus s-8x text-white bg-orange p-3"></i>
										</div>
										<div class="after-upload w-100 h-100 d-flex justify-content-center align-items-center"
											id="myList" ng-if="self.company.estateInfo.attachment!=null">
											<div class="loading-container" ng-if="self.loadingShow">
												<div class="loader"></div>
												<div class="loading-text so-h6">منتظر بمانید...</div>
											</div>
											<i class="fa s-check-circle s-8x text-white bg-orange p-3"></i>

											<button ng-model="self.company.estateInfo.attachment"
												class="btn edit shadow-none h-100 w-100"
												ngf-select="self.uploadEstateInfo($files)">
												<i class="fas s-edit s-2x text-white"></i>
												<div class="loading-text text-white so-h6">بارگزاری مجدد</div>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5" cg-busy="self.promiseLoadingProstitutesTable">
					<div class="col-lg-12">
						<h3 class="mb-4">اطلاعات راهنین</h3>
					</div>
					<div class="col-lg-12 overflow-scroll" ng-if="self.company.estateInfo.mortgagors.length > 0">
						<table class="table spacing-table csm-table ng-scope" show-filter="false">
							<thead class="ng-scope">
								<tr class="ng-table-sort-header">
									<th class="header ">
										<span class="ng-binding sort-indicator">نام و نام خانوادگی</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">نام پدر</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">کدملی</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">صادره از</span>
									</th>
									<th class="header ">
										<span class="ng-binding sort-indicator">شماره تماس</span>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in self.company.estateInfo.mortgagors"
									class="bg-matte-gray ng-scope">
									<td data-title="'نام و نام خانوادگی'" filter="false"
										data-title-text="نام و نام خانوادگی">
										<span ng-bind="row.firstName + ' ' + row.lastName"></span>
									</td>
									<td data-title="'نام پدر'" filter="false" data-title-text="نام پدر"
										ng-bind="row.fatherName">
									</td>
									<td data-title="'کدملی'" filter="false" data-title-text="کدملی"
										ng-bind="row.nationalCode">
									</td>
									<td data-title="'صادره از'" filter="false" data-title-text="صادره از"
										ng-bind="row.issued">
									</td>
									<td data-title="'شماره تماس'" filter="false" data-title-text="شماره تماس"
										ng-bind="row.phoneNumber">
									</td>
									<td>
										<button type="button" class="close"
											ng-click="self.removeFromList(row,self.company.estateInfo.mortgagors)">
											<span>&times;</span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<ng-form name="prmoMembers" noValidate>
					<div class="row">
						<div class="col-lg-12">
							<div class="member-box">
								<div class="row">
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">نام</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="60" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.estateInfo.mortgagors.firstName" name="firstName"
													required />

												<div ng-messages="prmoMembers.firstName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نام نباید بیش از شصت کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">نام خانوادگی</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="60" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.estateInfo.mortgagors.lastName" name="lastName"
													required />

												<div ng-messages="prmoMembers.lastName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام خانوادگی نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نام خانوادگی نباید بیش از شصت کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام خانوادگی باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">شماره ملی</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="10"
													ng-maxlength="10" ng-input-filter-number="uint"
													ng-model="self.estateInfo.mortgagors.nationalCode"
													name="nationalCode" required />

												<div ng-messages="prmoMembers.nationalCode.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														شماره ملی نباید کمتر از ده
														کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														شماره ملی نباید بیش از ده کاراکتر
														باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">نام پدر</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="60" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.estateInfo.mortgagors.fatherName" name="fatherName"
													required />

												<div ng-messages="prmoMembers.fatherName.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نام نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نام نباید بیش از شصت کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														نام باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">شماره شناسنامه</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="1"
													ng-maxlength="10" ng-input-filter-number="uint"
													ng-model="self.estateInfo.mortgagors.birthCertificateNumber"
													name="birthCertificateNumber" required />

												<div ng-messages="prmoMembers.birthCertificateNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														شماره شناسنامه نباید کمتر از یک
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														شماره شناسنامه نباید بیش از ده
														کاراکتر
														باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">صادره</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="40" ng-input-filter-alphabet="persianAlphabet"
													ng-model="self.estateInfo.mortgagors.issued" name="issued"
													required />

												<div ng-messages="individualMembersForm.issued.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														صادره نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														صادره نباید بیش از چهل کاراکتر باشد
													</div>
													<div ng-message="inputFilterAlphabet">
														صادره باید فارسی باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-6">
										<sd-input-container class="material text-right">
											<label for="">شماره تماس</label>
											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="11"
													ng-maxlength="11" ng-input-filter-number="uint"
													ng-model="self.estateInfo.mortgagors.phoneNumber" name="phoneNumber"
													required />
												<div ng-messages="prmoMembers.phoneNumber.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														تلفن نباید کمتر از یازده
														کاراکتر
														باشد
													</div>
													<div ng-message="maxlength">
														تلفن نباید بیش از یازده
														کاراکتر
														باشد
													</div>
												</div>
											</div>
										</sd-input-container>
									</div>
									<div class="col-lg-12">
										<sd-input-container class="material text-right">
											<label for="">نشانی</label>

											<div class="input-group">
												<sd-icon>
													<i class="fas s-apartment"></i>
												</sd-icon>
												<input class="so-input-xl w-100" type="text" ng-minlength="2"
													ng-maxlength="120" required
													ng-model="self.estateInfo.mortgagors.address" name="address" />

												<div ng-messages="prmoMembers.address.$error">
													<div ng-message="required">
														پر کردن فیلد الزامی می‌باشد
													</div>
													<div ng-message="minlength">
														نشانی نباید کمتر از دو کاراکتر باشد
													</div>
													<div ng-message="maxlength">
														نشانی نباید بیش از صدوبیست کاراکتر
														باشد
													</div>
												</div>
											</div>

										</sd-input-container>
									</div>
									<div class="col-lg-12 d-flex justify-content-center">
										<div class="button-add-member">
											<button type="button" class="btn btn-l-purple so-btn-md"
												ng-click="self.pushToListMortgagors(self.estateInfo.mortgagors, prmoMembers)">
												<span>
													<i class="fas s-plus text-white"></i>
												</span>
												<span class="text-white">
													اضافه نمودن
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-form>

				<div class="row mt-5" ng-if="!self.isFirst">
					<div class="col-lg-12">
						<button class="btn btn-green so-btn-md ml-3" type="button"
							ng-click="self.submitEditEstate(self.company,companyForm)" promise-btn>
							ثبت
						</button>
						<button class="btn btn-orange so-btn-md text-white" type="button"
							ng-click="self.backToSelectedBail()">
							بازگشت
						</button>
					</div>
				</div>
			</div>

			<div class="row mt-5" ng-if="self.isFirst">
				<div class="col-lg-12">
					<button class="btn btn-green so-btn-md ml-3" type="button"
						ng-click="self.submitBails(self.company,companyForm)" promise-btn>
						ثبت
					</button>
					<button class="btn btn-orange so-btn-md text-white" type="button"
						ng-click="self.backToSelectedBail()">
						بازگشت
					</button>
				</div>
			</div>
		</div>
	</form>
</div>