<main class="warranty-type container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <!-- <div class="col-lg-12" ng-if="self.canNotRequest">
                    <div class="alert-box px-5 pt-5 pb-3">
                        <div class="d-flex flex-wrap justify-content-around">
                            <div>
                                <img src="../../images/danger-sing.svg" alt="">
                            </div>
                            <div class="d-flex flex-column flex-wrap text-n-gray">
                                <div class="so-title mb-1">کاربر گرامی؛</div>
                                <div class="so-subheading-2  mb-4">
                                    شما برای دریافت تسهیلات می بایست اطلاعات دانش بنیانی و یا خلاق بودن شرکت و استقرار
                                    در
                                    پارک علم و فناوری پردیس را کامل نموده باشید.
                                </div>
                                <div>
                                    <button class="btn so-btn-sm btn-n-green"
                                        ui-sref="general.completeInformation.logoUpload">تکمیل اطلاعات</button>
                                    <button class="btn so-btn-sm bg-white btn-outline-green"
                                        ui-sref="panel.dashboard">انصراف</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12 mt-4">
                    <div class="so-title">
                        <span>چه نوعی از تسهیلات را درخواست می دهید؟</span>
                        <a href="" class="text-orange so-h5" target="_blank"
                            ng-href={{$root.download+self.loanGuide}}>(دریافت
                            راهنما)</a>
                    </div>

                </div>
                <div class="col-lg-6 box-1 d-flex flex-column">
                    <a class="working-capital-box tender-type-box hover-box pr-5 pb-5 pt-4"
                        ui-sref="panel.loan.request.companyInformation({type:'WorkingCapital' ,leasingCustomerType:''})">
                        <div class="so-title text-black">درخواست تسهیلات</div>
                        <div class="so-display-2 box-title tender-title">
                            سرمایه در گردش
                        </div>
                        <div class="lock">
                            <i class="fas s-lock s-2x text-white"></i>
                        </div>
                    </a>

                </div>
                <div class="col-lg-6 box-2 d-flex flex-column">
                    <a class="prototyping-box tender-type-box hover-box pr-5 pb-5 pt-4"
                        ui-sref="panel.loan.request.companyInformation({type:'Prototyping' ,leasingCustomerType:''})">
                        <div class="so-title text-black">درخواست تسهیلات</div>
                        <div class="so-display-2 box-title payment-title">نمونه سازی</div>
                        <div class="lock">
                            <i class="fas s-lock s-2x text-white"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 box-1 d-flex flex-column mt-4">
                    <a class="industrial-production-box tender-type-box hover-box pr-5 pb-5 pt-4"
                        ui-sref="panel.loan.request.companyInformation({type:'IndustrialProduction' ,leasingCustomerType:''})">
                        <div class="so-title text-black">درخواست تسهیلات</div>
                        <div class="so-display-2 box-title advantage-title">تولید صنعتی</div>
                        <div class="lock">
                            <i class="fas s-lock s-2x text-white"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 box-2 d-flex flex-column mt-4">
                    <a class="leasing-box tender-type-box hover-box pr-5 pb-5 pt-4 pointer" data-toggle="modal"
                        data-target="#leasingModal">
                        <div class="so-title text-black">درخواست تسهیلات</div>
                        <div class="so-display-2 box-title credit-title">
                            لیزینگ </div>
                        <div class="lock">
                            <i class="fas s-lock s-2x text-white"></i>
                        </div>
                    </a>
                    <!-- <a class="leasing-box tender-type-box hover-box pr-5 pb-5 pt-4">
                        <div class="so-title text-black">درخواست تسهیلات</div>
                        <div class="so-display-2 box-title credit-title">
                            لیزینگ (درحال توسعه)
                        </div>
                        <div class="lock">
                            <i class="fas s-lock s-2x text-white"></i>
                        </div>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div id="leasingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true" >
        <div class="modal-dialog modal-sm bg-image-modal">
            <div class="modal-content bg-gray align-items-center bg-image-modal rounded-0">
                <a class="industrial-production-box-modal tender-type-box hover-box-modal w-100"
                    ui-sref="panel.loan.request.companyInformation({type:'Leasing' ,leasingCustomerType:'Seller'})" ng-click="hideModal()">
                    <div class="so-display-2 box-title advantage-title">فروشنده محصول</div>
                    <div class="so-title text-black">در این بخش شما بعنوان فروشنده محصول در لیزینگ شرکت میکنید</div>
                    <div class="lock">
                        <i class="fas s-lock s-2x text-white"></i>
                    </div>
                </a>
            </div>
            <!-- <div class="modal-content bg-gray align-items-center bg-image-modal rounded-0">
                <a class="prototyping-box-modal tender-type-box hover-box-modal w-100"
                    ui-sref="panel.loan.request.companyInformation({type:'Leasing' ,leasingCustomerType:'Buyer'})" ng-click="hideModal()">
                    <div class="so-display-2 box-title advantage-title">خریدار محصول</div>
                    <div class="so-title text-black">در این بخش شما بعنوان خریدار محصول در لیزینگ شرکت میکنید</div>
                    <div class="lock">
                        <i class="fas s-lock s-2x text-white"></i>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</main>