.change-password {
  .unread-change-password {
    border-right: 23px solid get-color("n-blue");
    padding: 27px 33px;
    position: relative;
    z-index: 9999;
    background-color: #e7eef2;

    .bg-style {
      z-index: -2;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .read-change-password {
    border-right: 23px solid #b3b3b3;
    padding: 27px 33px;
    position: relative;
    z-index: 9999;
    background-color: #e6e6e6;

    .bg-style {
      z-index: -2;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
