<section class="mt-4 gallery container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row" cg-busy="self.promiseLoading">
            </div>
            <div class="row mb-5">
                <div class="col-lg-12">
                    <span class="so-title text-blue">همین الان شروع کنید:</span>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="row">
                        <div class="col-lg-5 d-flex flex-column">
                            <div class="box-1 pl-4 pointer" ui-sref="panel.warranty.gettingStart">
                                <div class="so-display-2 text-white pr-3">درخواست ضمانت نامه</div>
                                <div class="so-body-1 box-1-des font-weight-bold pl-5">درخواست انواع ضمانت نامه بانکی ویژه شرکت های فناور برای شرکت در: مناقصه/مزایده، حسن انجام تعهدات، پیش پرداخت و تعهد پرداخت
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 d-flex flex-column">
                            <div class="box-2 p-3 h-100 pointer" ui-sref="panel.loan.gettingStart">
								<div class="so-display-2 text-white font-weight-bold">درخواست تسهیلات / لیزینگ</div>
                                <div class="so-body-1 box-2-des">دریافت تسهیلات از خط اعتباری<br>صندوق توسعه فناوری های نوین نزد صندوق نوآوری و شکوفایی</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>